<!-- NAV BAR
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top  " >
    <a class="navbar-brand" href="#" style="font-size: 20px;">WildLife<br />Expeditions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  style="font-size: 20px;" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 20px;" routerLink="/expeditions">Expeditions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 20px;" routerLink="/destinations">Destinations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 20px;" routerLink="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 20px;" routerLink="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 20px;" routerLink="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light mr-2" style="font-size: 20px;" routerLink="login">Login</a>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item">
                <a class="btn btn-outline-light" style="font-size: 20px;" routerLink="register">Register</a>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" style="padding: 0px;height: 100px;">
  <a href="home" style="font-size:20px; color: white;"><i><img class="logo-fixed" style="height:80px;width:250px;margin-top: 19px;margin-bottom: 19px;"
        src="../../assets/LOGOS/final5.png"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home" style="font-size:20px; color: white">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="adminLoginStatus" routerLink="userInfo" style="font-size:20px; color: white">Users</a>
      </li>
      <!-- <li *ngIf="adminLoginStatus" class="nav-item dropdown hover-dropdown">
        <a class="nav-link dropdown-toggle" routerLink="userInfo" id="usersDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Users
        </a>
      </li>
        <div class="dropdown-menu" aria-labelledby="usersDropdown">
          <a class="dropdown-item" routerLink="userInfo">View Users</a>
          <a class="dropdown-item" href="#">Manage User Accounts</a>
          <a class="dropdown-item" href="#">Review User Feedback</a>
        </div> -->
     
      <li class="nav-item active">
        <a class="nav-link" *ngIf="adminLoginStatus" routerLink="trip" style="font-size:20px; color: white">Trips</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="adminLoginStatus" routerLink="addtrip" style="font-size:20px; color: white">Add Trip</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="adminLoginStatus" routerLink="bookings" style="font-size:20px; color: white">Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginStatus" routerLink="mybookings" style="font-size:20px; color: white">My Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginStatus" routerLink="favouritetrip" style="font-size:20px; color: white">Favourites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginStatus" routerLink="profile" style="font-size:20px; color: white">Profile</a>
      </li>
      <!-- <li class="nav-item" *ngIf="!adminLoginStatus">
        <div class="ngp-exp-main-nav-link-wrapper" (mouseover)="showDropdown()" (mouseout)="hideDropdown()">
          <a href="https://www.nationalgeographic.com/expeditions/destinations/" target="_self" class="ngp-exp-main-nav-link ngp-exp-main-nav-link--dropdown ngp-exp-main-nav-link ngp-exp-main-nav-link--dropdown--dropdown--drawer--header">
            <span class="nav-link" style="font-size:20px; color: white">Destinations</span>
          </a>
          <div class="ngp-exp-main-nav-link--dropdown-content" [class.two-rows]="dropdownItems.length > 5" [style.display]="dropdownVisible ? 'block' : 'none'">
            <div class="ngp-exp-main-nav-link--dropdown-content-wrapper">
              <div class="ngp-exp-main-nav-link--dropdown-content-group">
                <div class="ngp-exp-main-nav-link--dropdown-content-group-content">
                  <a *ngFor="let item of dropdownItems" [href]="item.link" style="color:black;text-decoration: none;padding-right: 100px;"><span>{{ item.label }}</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li> -->
      
      <!-- <li class="nav-item dropdown" *ngIf="!adminLoginStatus">
        <a class="nav-link dropdown-toggle" routerLink="trip" role="button" data-toggle="dropdown" aria-haspopup="true">
          Destinations
        </a>
        <div class="dropdown-menu p-0">
          <div class="container">
            <div class="row m-0">
              <div class="col">
                <a class="dropdown-item" href="#">Africa</a>
              </div>
              <div class="col">
                <a class="dropdown-item" href="#">Asia</a>
              </div>
              <div class="col">
                <a class="dropdown-item" href="#">North America</a>
              </div>
            </div>
          </div>
        </div>
      </li> -->
      
      <!-- <li class="nav-item dropdown" *ngIf="!adminLoginStatus">
        <a class="nav-link dropdown-toggle" routerLink="trip" role="button" data-toggle="dropdown" aria-haspopup="true"
          style="font-size:20px; color: white" aria-expanded="false">
          Destinations
        </a>
        <div class="dropdown-menu p-0">
          <div class="container">
            <div class="row m-0">
              <div class="col">
                <a class="dropdown-item" href="#">Africa</a>
              </div>
              <div class="col">
                <a class="dropdown-item" href="#">Asia</a>
              </div>
              <div class="col">
                <a class="dropdown-item" href="#">North America</a>
              </div>
            </div>
          </div>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" *ngIf="!adminLoginStatus" routerLink="about" style="font-size:20px; color: white">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!loginStatus&&!adminLoginStatus" routerLink="login" style="font-size:20px; color: white">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginStatus||adminLoginStatus" routerLink="logout" style="font-size:20px; color: white">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!adminLoginStatus && !loginStatus" routerLink="contactUs" style="font-size:20px;color: white">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>  