<section id="contact-us" class="contact-us" style="background-color: black;color:white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Contact Us</h2>
                <p>Have questions or want to book a trip? Fill out the form below and we'll get back to you as soon
                    as
                    possible.</p>
                <form action="submit-form.php" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" id="phone" name="phone" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-6">
                <h3>Get in Touch</h3>
                <p>Don't like forms? Give us a call or send us an email:</p>
                <ul class="list-unstyled">
                    <li><i class="fas fa-phone-alt"></i> 555-123-4567</li>
                    <li><i class="fas fa-envelope"></i> info@wildlifeexpeditions.com</li>
                </ul>
            </div>
        </div>
    </div>
</section>