#contact-us {
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  
  #contact-us h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  #contact-us form {
    margin-top: 20px;
  }
  
  #contact-us form label {
    font-weight: 600;
  }
  
  #contact-us form input[type="text"],
  #contact-us form input[type="email"],
  #contact-us form input[type="tel"],
  #contact-us form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
  }
  
  #contact-us form input[type="submit"] {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact-us form input[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  #contact-us ul li {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    list-style-type: none;
  }
  
  #contact-us ul li i {
    margin-right: 10px;
    color: #007bff;
    font-size: 24px;
  }