.hero {
    position: relative;
    height: 500px;
    background-image: url('../../assets/about-us/hero.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

.hero-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.hero-title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-description {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;

}

/* Rest of the CSS code for the About Us section */

.about-us {
    padding: 50px 0;
    background-color: #f1f1f1;
}

.section-title {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.about-us p {
    color: #666;
    margin-bottom: 20px;
}

.about-us .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.expeditions {
    padding: 50px 0;
    background-color: antiquewhite;
}

.expeditions .section-title {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.expeditions .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.expeditions .card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.expeditions .card-body {
    padding: 20px;
}

.expeditions .card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.expeditions .card-text {
    color: #666;
    margin-bottom: 15px;
}

.expeditions .btn {
    background-color: #007bff;
    color: #fff;
}

.expeditions .btn:hover {
    background-color: #0056b3;
}

/* responsive styles */

.about-us {
    background: linear-gradient(to bottom, #f1f1f1, #e5e5e5);
}

.expeditions .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expeditions .card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.expeditions .btn:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-weight: bold;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

/* donation styles */
.donation-section {
    background-image: url('../../assets/about-us/donation2animal.jpeg');
    background-size: cover;
    padding: 50px 0;
}

.donation-section .container {
    position: relative;
}

.donation-section .section-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.donation-section .section-content.show {
    opacity: 1;
    transform: translateY(0);
}

.donation-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.donation-section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.donation-section .image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.donation-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .donation-section {
        padding: 30px 0;
    }

    .donation-section .container {
        flex-direction: column;
    }

    .donation-section .section-content {
        margin-bottom: 20px;
    }

    .donation-section .image-wrapper {
        width: 100%;
        height: 300px;
    }
}


/* footer styles */
.footer-bg {
    background-color: black;
    height: 400px;
    padding: 30px;


}

.footer-sub-content {

    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-head {
    font-size: 20px;
    padding-top: 40px;
}

.insta-icon {
    font-size: 30px;
}

.hr-footer {
    border-color: white;
    border-width: 2px;
}

.last-footer-cont {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    align-items: center;
    justify-content: center;
}