<section class="hero">
    <div class="hero-overlay">
      <div class="container">
        <h1 class="hero-title">Wildlife Expeditions</h1>
        <p class="hero-description">Explore the wonders of the natural world with our passionate team of experienced guides and nature enthusiasts.</p>
      </div>
    </div>
  </section>
  
<section class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="section-title">About Us</h2>
          <p data-aos="fade-up">Welcome to our wildlife expedition project. We are passionate about exploring the wonders of the natural world and sharing our experiences with others.</p>
          <p data-aos="fade-up">Our team of experienced guides and nature enthusiasts is dedicated to providing exceptional wildlife expeditions, educational programs, and conservation initiatives.</p>
        </div>
        <div class="col-md-6">
          <img src="../../assets/Hero-images/hero2.jpeg" alt="About Us Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  
  <section class="expeditions">
    <div class="container">
      <h2 class="section-title">Featured Expeditions</h2>
      <div class="row">
        <div class="col-md-4">
            <div class="card">
              <img src="../../assets/about-us/safari.jpg" alt="Expedition 2" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Safari Adventure</h5>
                <p class="card-text">Experience the thrill of exploring diverse wildlife in the heart of the African savannah with Jewels of the natural world</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>

        <div class="col-md-4">
          <div class="card">
            <img src="../../assets/about-us/amazon.jpg" alt="Expedition 2" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Amazon Rainforest Exploration</h5>
              <p class="card-text">Embark on an unforgettable journey through the lush Amazon rainforest, home to a remarkable variety of wildlife.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../../assets/about-us/arctic.jpg" alt="Expedition 3" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Arctic Wildlife Expedition</h5>
              <p class="card-text">Witness the breathtaking beauty of the Arctic and encounter magnificent polar bears and other arctic wildlife.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- donation section -->
  <section class="donation-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h2 style="color: white;" data-aos="fade-up">We Care About Animal Welfare</h2>
          <p style="color: white;" data-aos="fade-up" data-aos-delay="200">We are committed to making a positive impact on the lives of animals in the wild. That's why a portion of our profits goes towards animal welfare and conservation efforts.</p>
          <p style="color: white;" data-aos="fade-up" data-aos-delay="400">Through our donations, we support a variety of organizations that work to protect and preserve the habitats of wild animals, provide medical care and rehabilitation for injured or sick animals, and promote education and awareness about animal welfare issues.</p>
        </div>
      </div>
    </div>
  </section>
  
  
<!-- footer section -->
  <div class="footer-bg">
    <div class="footer-sub-content">
        <div>
            <h1 class="footer-head">PLAN A TRIP</h1>
            <p>Find a Trip</p>
            <p>Why travel with us</p>
            <p>Meet our experts</p>
            <p>Special offers</p>
            <p>Stories From our Travellers</p>
        </div>
        <div>
            <h1 class="footer-head">SUPPORT</h1>
            <p>Contact Us</p>
            <!-- <p>Frequently Asked quesions </p>
    <p>Health and Safety Protocols</p>
    <p>Privite Jet Health and Safety Protocols</p> -->
            <p>Service animals</p>
            <p>Travel insurance</p>
            <p>Travel Agents</p>
            <p>Updated Booking Policies</p>
        </div>
        <div>
            <h1 class="footer-head">COMPANY</h1>
            <p>Terms & Conditions</p>
            <p>Terms of Use</p>
            <p>Privacy Policy</p>
            <p>Your India state privacy Rights</p>
            <p>Do not Sell or Share my personal information</p>
        </div>
        <div>
            <h1 class="footer-head">FOLLOW US</h1>
            <div><i class="fa-brands fa-instagram insta-icon"></i></div>
            <div></div>
        </div>
    </div>
    <hr class="hr-footer" />
    <div class="last-footer-cont">
        <p><img src="../../assets/LOGOS/final5.png" style="height: 50px;width: 120px;"></p>
        <p>Copyright © 1996-2015 National Geographic Society</p>
        <p>|</p>
        <p>Copyright © 2015-2023 National Geographic Partners, LLC. All rights reserved</p>
    </div>

</div>
  