.trip-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
  }
  
  .trip-card {
    width: 350px;
    height: 400px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f5f5f5; /* Lighter background color */
    animation: fadeInUp 0.5s ease-out;
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5e3a;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
  }

  .card-body {
    padding: 2px 16px 16px 16px;
    position: relative;
    justify-content: center;
    color: #333333; /* Updated text color */
  }
  
  .duration {
        background-color: #f5f5f5;
        color: black;
        padding: 8px 20px;
        font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 1.5;
        text-transform: uppercase;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        white-space: nowrap;
        width: 70%; 
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto 8px;
      
    /* background-color: #f5f5f5;
  color: black;
  padding: 8px 20px;
  font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 1.5;
  text-transform: uppercase;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  white-space: nowrap;
  width: 70%; 
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto 8px; */
        /*
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f5f5f5;
        color: black;
        padding: 8px 20px;
        font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 1.5;
        text-transform: uppercase;
        border: 1px solid gray;
        border-top: none;
        border-bottom: none;
        white-space: nowrap;
        width: 70%; 
        box-sizing: border-box;
        */
   /* position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #ffffff;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 10px; 
        font-weight: bold; */
      }
      
    /* position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold; */
  
  
  
  .title {
    font-weight: bold;
    font-size: 22px; /*Updated font size*/
    margin-bottom: 8px;
    text-align: center;
  }
  
  /* Animation */
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .element {
    animation: slideToLeft 0.5s ease-out;
  }