<div class="trip-card-container" *ngIf="bookedTrips.length > 0; else noTrips">
    <div class="trip-card" *ngFor="let trip of bookedTrips">
      <div class="image-container">
        <img [src]="trip.heroImage" [alt]="trip.heroImage">
        <span class="badge">{{trip.badge}}</span>
      </div>
      <div class="card-body">
        <span class="duration">{{trip.tripDuration}} DAYS from ${{trip.price}}</span>
        <h2 class="title">{{trip.tripTitle}}</h2>
        <p> <span style="font-weight: 500;">Trip Type: <i class="fas fa-suitcase"></i></span> {{trip.tripType}} </p>
        <p> <span style="font-weight: 500;">Activity Level: </span>{{trip.activityLevel}}</p>
        <p> <span style="font-weight: 500;">Service Level: </span>{{trip.serviceLevel}}</p>
        <!-- <button  class="btn btn-success login-button" (click)="bookTrip(trip.tripId)">book Again</button> -->
      </div>
    </div>
  </div>
  
  <ng-template #noTrips>
    <p>No trips available.</p>
  </ng-template>