<div class="trip-card-container" style="margin-top: 100px;" *ngIf="favoriteTrips.length > 0 ; else noTrips">
  <!-- *ngIf="favoriteTrips.length > 0 ; else noTrips" -->
    <div class="trip-card" *ngFor="let trip of favoriteTrips">
      <div class="image-container">
        <img [src]="trip.heroImage" [alt]="trip.heroImage">
        <span class="badge">{{trip.badge}}</span>
      </div>
      <div class="card-body">
        <span class="duration">{{trip.tripDuration}} DAYS from ${{trip.price}}</span>
        <h2 class="title">{{trip.tripTitle}}</h2>
        <p> <span style="font-weight: 500;">Trip Type: <i class="fas fa-suitcase"></i></span> {{trip.tripType}} </p>
        <p> <span style="font-weight: 500;">Activity Level: </span>{{trip.activityLevel}}</p>
        <p> <span style="font-weight: 500;">Service Level: </span>{{trip.serviceLevel}}</p>
        <!-- <button class="btn btn-success login-button" (click)="exploreTrip(trip.tripId)" routerLink="/tripdesc">explore</button>&nbsp;&nbsp;&nbsp; -->
        <!-- <button class="btn btn-success login-button" (click)="exploreTrip(trip.tripId)">explore</button>&nbsp;&nbsp;&nbsp; -->
        <button style="position: absolute;top:265px"   class="btn btn-danger login-button" (click)="removeFavorite(trip.tripId)">
            Remove</button>
        <button class="btn btn-success login-button"
            style="position: absolute;top:265px;left:257px"  (click)="bookTrip(trip.tripId)">
            explore
        </button>
        
        
        <!-- [routerLink]="'/tripdesc/' + trip.tripId" -->
        <!-- [routerLink]="['/trip', trip.tripId, 'description']" -->
      </div>
    </div>
  </div>

  <ng-template #noTrips style="margin-top: 100px;">
    <p>No trips available.</p>
  </ng-template>-