<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<h1 align="center">Bookings</h1>
<br/>

<div class="container" *ngIf="bookings">
    <table class="table table-sm text-center table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th> Trip Id </th>
                <th> Trip Title </th>
                <th> Price </th>
                <th> Duration </th>
                <th> Booked By </th>
                <!-- <th> EmailId </th> -->
                <!-- <th> bookedBy </th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trip of bookings">
                <td> {{trip.tripId }} </td>
                <td> {{trip.tripTitle | uppercase }} </td>
                <td> ${{trip.price}} </td>
                <td> {{trip.tripDuration }} days </td>
                <td> {{trip.bookedUserCount}} users </td>
                <!-- <td> {{trip.emailId }} </td> -->
                <!-- <td> 
                    <button type="button" class="btn btn-default btn-sm" (click)="seeBookedUsers(trip.tripId)">
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                </td> -->
                <!-- <td> 
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(user.userId)">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>

  

  
  <!-- Rest of your component's HTML content -->
  

