<div class="bookingPage" style="margin-top: 110px;">

    <div class="tripinformation">
        <div class="tripInfo">
            <h1>Trip Information</h1>
        </div>
        <div class="tripPara">
            <p> Select your preferred trip and departure date. If offered, optional extensions will appear below.<br />
                A deposit will be due for each traveler when your reservation is confirmed.</p>
        </div>

    </div>


    <div class="horLine">
        <hr />
    </div>
    <!-- <div class="selection"> -->
    <div class="container">
        <div class="tripselector">
            <div class="triphead">
                <h5 class="head">TRIP SELECTED</h5>
            </div>


            <div class="changetrip">
                <a class="link" href="">Change Trip</a>

            </div>
        </div>
        <!-- </div> -->

        <div class="card" style="padding-right: 0px;position: relative;">
            <div class="image-container" style="width:466px;">
                <!-- <figure class="figure-class">
                    <div>
                        
                    </div>
                </figure> -->
                <img style="width: 467px;height:267.325px;border-radius: 5px;" [src]="bookedTrip.heroImage">
            </div>
            <!-- <img
                src="https://www.nationalgeographic.com/content/dam/expeditions/destinations/north-america/land/Alaska-Denali-to-Kenai-Fjords/alaska-denali.adapt.536.1.jpg"> -->

            <div class="cardinfo" style="position: absolute;right: 74px;top: 64px;">
                <p> | {{bookedTrip.tripDuration}} DAYS FROM $ {{bookedTrip.price}} | </p>
                <h4>{{bookedTrip.tripTitle}}</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sub-container">
            <div class="departure-head-content">
                <div class="heading">
                    <h5>Select a Departure</h5>
                </div>
                <div class="departure-para">
                    <i>Choose your preferred departure date to proceed.</i>
                </div>
            </div>

            <div class="dates-prices">
                <div class="dates-prices-div">
                    <div class="date-label">
                        2023
                        dates & prices
                    </div>
                    <div class="date-label-dep">
                        1
                        departures
                    </div>
                </div>
            </div>

            <div class="table-div">
                <div class="table-heading">
                    <div class="table-heading-column">
                        <span>Date</span>
                    </div>
                    <div class="table-heading-column">
                        <span>Double Occupancy</span>
                    </div>
                    <div class="table-heading-column">
                        <span>Single Occupancy</span>
                    </div>
                </div>

                <div class="table-data">
                    <div class="table-data-column">
                        April,11 May,2023
                    </div>
                    <div class="table-data-column-price">
                        <span class="span-price">
                            $ {{bookedTrip.price}}
                            <span class="person">per person</span>
                        </span>
                    </div>
                    <div class="table-data-column-price">
                        <span class="span-price">
                            $ {{bookedTrip.price}}
                            <span class="person">per person</span>
                        </span>
                    </div>
                </div>

            </div>

        </div>

        

    </div>
    <!-- <div class="horLine">
        <hr />
    </div> -->
</div>

<div class="payment-container">
    <div class="payment-container-centered">
        <div class="line">
            <div class="button">
                <div class="button-div">
                    <div class="content">
                    <div class="content-">
                       <button (click)="billing(bookedTrip.tripId)">Next : Payment</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div class="horLine">
    <hr />
</div> -->


