.bokingPage {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
}

.heading {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
}

.tripInfo {

    -webkit-text-size-adjust: 100%;
    color: black;
    box-sizing: inherit;
    font-family: 'GeoEditBold', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 42px;
    line-height: 1.143;
}

.tripPara {
    -webkit-text-size-adjust: 100%;
    color: black;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    font-family: Georgia, serif;
    font-size: 1.125rem;
    line-height: 1.6;
    letter-spacing: normal;
    margin-top: -0.375em;
}

.tripinformation {
    /* -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin-bottom: 2.125rem; */

    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    position: relative;
    min-height: 1px;
    margin: 0 auto;
    float: none;
    width: 66.6666666667%;
    max-width: none;

    
}

.horLine {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    position: relative;
    min-height: 1px;
    margin: 0 auto;
    float: none;
    width: 66.6666666667%;
    max-width: none;
}

.info-line {
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.429;
    margin: 1rem 0 1.4325rem;
    color: #000;
    font-size: 0.85em;
    overflow: hidden;
    position: relative;
    min-height: 0.25rem;
}

.tripselector {

    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin-bottom: 1.0625rem;

    /* -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    float: left;
    position: relative;
    min-height: 1px;
    width: 83.33333%; */
}

.triphead {

    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    float: left;
    position: relative;
    min-height: 1px;
    width: 83.33333%;

    /* -webkit-text-size-adjust: 100%;
    color: black;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.25;
    margin: 0;
    font-size: 32px;
    margin-left: 255px;
    margin-top: 65px;
} */
}

.head{
    -webkit-text-size-adjust: 100%;
    color: black;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.25;
    margin: 0;
    font-size: 32px;
}

.changetrip {
    -webkit-text-size-adjust: 100%;
    color: black;
    box-sizing: inherit;
    float: left;
    position: relative;
    min-height: 1px;
    width: 16.66667%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 14px;
    line-height: 1.429;
    text-align: right;


}

.link{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 14px;
    line-height: 1.429;
    text-align: right;
    box-sizing: inherit;
    color: inherit;
    border-bottom: 2px solid #fc0;
    background-image: linear-gradient(120deg, #fc0 0%, #fc0 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.0em;
    background-position: 0 100%;
    transition: background-size 0.125s ease-in;
    text-decoration: none;
}

.selection {
    position: absolute;
}

.container {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    position: relative;
    min-height: 1px;
    margin: 0 auto;
    float: none;
    width: 66.6666666667%;
    max-width: none;
    /* -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin-bottom: 1.0625rem;
    box-sizing: border-box;
    width:1049px; */

}

.card {

    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    position: relative;
    min-height: 1px;
    margin: 0 auto;
    float: none;
    width: 66.6666666667%;
    max-width: none;


    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    display: table;
    padding: 20px;
    margin:0px;
    position: relative;
    width: 100%;
    display: inline-block;

    margin-left: 0px;
    margin-top: 20px;
    width: 1023.6px;
}

.image-container{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    position: relative;
    min-height: 1px;
    display: table-cell;
    float: none;
    padding-right: 25px;
    width: 50%;
}

.figure-class{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.after-figure-class{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    height: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: rgb(222, 222, 222);
    padding-bottom: 60.6759%;
}

.above-lazyload{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
}

.lazyload{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    height: 100%;
    position: absolute;
    width: 100%;
}

.lazyload picture{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
}

.cardinfo {
    display: inline-block;
    width: 443.6px;
    height: 276.6px;
    padding-left: 35px;
}

.cardinfo h4 {
    -webkit-text-size-adjust: 100%;
    color: black;
    box-sizing: inherit;
    margin: 0.9rem 0 0;
    font-family: 'GeoEditMedium', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 28px;
    line-height: 1.214;
}

.sub-container {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
}

.departure-head-content{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin-bottom: 2.125rem;
}

.heading{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    float: left;
    position: relative;
    min-height: 1px;
    width: 50%;
}

.departure-para{
    -webkit-text-size-adjust: 100%;
    color: black;
    box-sizing: inherit;
    float: left;
    position: relative;
    min-height: 1px;
    width: 50%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 14px;
    line-height: 1.429;
    text-align: right;
}

.heading h5{
    -webkit-text-size-adjust: 100%;
    color: black;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.25;
    margin: 0;
    font-size: 32px;
}

.departure-para i{
    -webkit-text-size-adjust: 100%;
    color: black;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 14px;
    line-height: 1.429;
    text-align: right;
    box-sizing: inherit;
    font-family: 'GeoEditRegularItalic', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    font-style: normal;
}
.dates-prices{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin-bottom: 1.0625rem;
}

.dates-prices-div{
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 14px;
    line-height: 1.429;
    border-color: transparent;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    color: #999;
    cursor: pointer;
    display: inline-block;
    flex: 0 1 auto;
    list-style-type: none;
    padding: 20px 50px 20px 20px;
}

.date-label{
    -webkit-text-size-adjust: 100%;
    list-style-type: none;
    color: #000;
    cursor: default;
    box-sizing: inherit;
    font-family: 'GeoEditMedium', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 14px;
    line-height: 1.429;
    -webkit-text-size-adjust: 100%;
    /* color: #999;
    cursor: pointer;
    list-style-type: none;
    box-sizing: inherit;
    font-family: 'GeoEditMedium', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 14px;
    line-height: 1.429; */
}

.date-label-dep{
    color: #999;
    cursor: pointer;
    list-style-type: none;
    box-sizing: inherit;
    font-family: 'GeoEditMedium', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 14px;
    line-height: 1.429;
}

.table-div{
    /* -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin-bottom: 1.0625rem; */

    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    float: left;
    position: relative;
    min-height: 1px;
    width: 100%;
    margin-bottom: 50px;
}

.table-heading{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin-bottom: 1.0625rem;
}

.table-heading-column{
    -webkit-text-size-adjust: 100%;
    color: black;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    border-bottom: 1px solid #e6e6e6;
    display: table-cell;
    padding: 22px 2% 22px 0;
    vertical-align: middle;
    position: relative;
    font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.25;
    letter-spacing: 3px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 317px;
    padding-left: 22px;

    /* -webkit-text-size-adjust: 100%;
    color: black;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    border-bottom: 1px solid #e6e6e6;
    display: table-cell;
    padding: 22px 2% 22px 0;
    position: relative;
    vertical-align: middle;
    font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.25;
    letter-spacing: 3px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 33%; */
}

.table-data{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    display: table-row;
    position: relative;
    background: #f2f2f2;
}

.table-data-column{
    -webkit-text-size-adjust: 100%;
    color: black;
    box-sizing: inherit;
    font-family: 'GeoEditMedium', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 16px;
    line-height: 1.5;
    display: table-cell;
    padding: 22px 2% 22px 0;
    position: relative;
    vertical-align: middle;
    width: 34%;
    padding-left: 22px;
    border-bottom: 0;
    width:337.6375px;
}

.table-data-column-price{
    -webkit-text-size-adjust: 100%;
    color: black;
    box-sizing: inherit;
    font-family: 'GeoEditMedium', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 16px;
    line-height: 1.5;
    display: table-cell;
    padding: 22px 2% 22px 0;
    position: relative;
    vertical-align: middle;
    width: 33%;
    border-bottom: 0;
}

.span-price{
    -webkit-text-size-adjust: 100%;
    color: black;
    box-sizing: inherit;
    font-family: 'GeoEditMedium', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 16px;
    line-height: 1.5;
}

.span-person{
    -webkit-text-size-adjust: 100%;
    color: black;
    box-sizing: inherit;
    display: block;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 14px;
    line-height: 1.429;
}

.departurehead {
    display: inline-block;
}

.departurecontent {
    float: right;
    display: inline-block;
}


.container .card {
    display: inline-block;
}

.payment-container{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin-bottom: 1.0625rem;
}
.payment-container-centered{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    position: relative;
    min-height: 1px;
    margin: 0 auto;
    float: none;
    width: 66.6666666667%;
    max-width: none;
}
.line{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    border-top: 1px solid #e6e6e6;
    padding-top: 35px;
}
.button{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    border-top: 1px solid #e6e6e6;
    padding-top: 35px;
}

.button button{
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    border: 0;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    text-decoration: none;
    transition: width .3s, color .3s;
    vertical-align: middle;
    color: #000;
    position: relative;
    height: auto;
    padding: 1.0625rem 2.125rem;
    margin-bottom: 10px;
    float: right;
    margin-right: 0;
    width: auto;
    background-color: #fc0;
}
.button-div{
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    border: 0;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    text-decoration: none;
    transition: width .3s, color .3s;
    vertical-align: middle;
    color: #000;
    position: relative;
    height: auto;
    padding: 1.0625rem 2.125rem;
    margin-bottom: 10px;
    float: right;
    margin-right: 0;
    width: auto;
    
    /* -webkit-text-size-adjust: 100%;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    cursor: pointer;
    color: #000;
    box-sizing: inherit;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fc0;  */
}
.content{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    cursor: pointer;
    color: #000;
    box-sizing: inherit;
    position: relative;
    z-index: 2;
}

.content-{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    cursor: pointer;
    color: #000;
    box-sizing: inherit;
    margin: 0 auto;
    max-width: max-content;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.content-span{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    cursor: pointer;
    color: #000;
    box-sizing: inherit;
    display: block;
}