<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>

<div class="bg-image">
  <div class="height-cont">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">

      <div class="input-group input-login">
        <span class="input-group-addon" style="padding: 12px;width:40px;"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control input-login" name="emailId" [(ngModel)]="emailId" placeholder="Enter EmailId"
          required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" (input)="updateEmailValidation()"
          (focus)="clearEmailValidation()" /> <br />
      </div>

      <div class="email-validation" *ngIf="emailTouched">
        <div class="condition" *ngIf="!isEmailValid('format')">
          Invalid email format.
        </div>
      </div>
      <br />
      <div class="input-group input-login">
        <span class="input-group-addon" style="padding: 12px;width:40px;"><i class="glyphicon glyphicon-lock"></i></span>
        <input  class="form-control input-login" name="password" [(ngModel)]="password" placeholder="Enter Password"
          required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" (input)="updatePasswordValidation()"
          (focus)="clearPasswordValidation()" /> <br />
      <!-- </div>
      <div class="password-validation" *ngIf="passwordTouched">
        <div class="condition" *ngIf="!isPasswordValid('length')">
          Must have at least 8 characters
        </div>
        <div class="condition" *ngIf="!isPasswordValid('uppercase')">
          Must have at least 1 uppercase letter
        </div>
        <div class="condition" *ngIf="!isPasswordValid('lowercase')">
          Must have at least 1 lowercase letter
        </div>
        <div class="condition" *ngIf="!isPasswordValid('digit')">
          Must have at least 1 digit
        </div>
        <div class="condition" *ngIf="!isPasswordValid('special')">
          Must have at least 1 special character
        </div> -->
      </div>
      <br />
      <br />


      <button class="btn btn-success login-button" [disabled]="!allConditionsSatisfied()">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <button class="btn btn-link forgot-password-button" >Forgot<br/> Password?</button> -->

      <button class="btn btn-success login-button" routerLink="/register" >Register</button>
      <br/><br/>
      <a style="margin-left: 80px;color:red;text-decoration:none;"routerLink="/forgotpassword">forgot password?</a>
      <br/><br/>
      
      <p style="color:black">------------------------------------- or -----------------------------------</p>

      <div>
        <app-googleauth></app-googleauth>
      </div>

      <br/>
      <br/>

      
      

     </form>

    
  </div>
</div>

<div id="toast-container" class="toast-top-right"></div>


<!-- <div id="toast-container" class="toast-top-right"></div> -->

<!-- 
<div class="validation-dropdown" *ngIf="passwordTouched">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="validationDropdown" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="true">
      Password Validation Conditions
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="validationDropdown">
      <li *ngIf="!isPasswordValid('length')">
        Must have at least 8 characters.
      </li>
      <li *ngIf="!isPasswordValid('uppercase')">
        Must have at least 1 uppercase letter.
      </li>
      <li *ngIf="!isPasswordValid('lowercase')">
        Must have at least 1 lowercase letter.
      </li>
      <li *ngIf="!isPasswordValid('digit')">
        Must have at least 1 digit.
      </li>
      <li *ngIf="!isPasswordValid('special')">
        Must have at least 1 special character.
      </li>
    </ul>
  </div>
</div> -->
