::ng-deep.toast-success {
    background-color: green !important;
    color: white !important;
    border-radius: 8px;
    width: auto !important;
    min-width: 200px;
  }
  
  ::ng-deep.toast-error {
    background-color: red !important;
    color: white !important;
    border-radius: 8px;
    width: auto !important;
    min-width: 200px;
  }
  
  ::ng-deep.toast-message {
    font-size: 14px !important;
    font-weight: bold !important;
    padding: 10px;
    margin-top: 10px;
  }

  ::ng-deep .input-login .glyphicon-user,
::ng-deep .input-login .glyphicon-lock {
  /* Add your custom styles here */
  /* For example: */
  color: blue;
}

/* Rest of your styles */
::ng-deep.toast-success {
  background-color: green !important;
  color: white !important;
  border-radius: 8px;
  width: auto !important;
  min-width: 200px;
}

::ng-deep.toast-error {
  background-color: red !important;
  color: white !important;
  border-radius: 8px;
  width: auto !important;
  min-width: 200px;
}

::ng-deep.toast-message {
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 10px;
  margin-top: 10px;
}

::ng-deep .input-login .glyphicon-user,
::ng-deep .input-login .glyphicon-lock {
  /* Add your custom styles here */
  /* For example: */
  color:black;
}



  
   

.bg-image {
    background-image: url('../../assets/Login-images/Hero-nat-geo-mission.adapt.1900.1.jpg');
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
    width: 100%;
    height: 800px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   } 
.input-login{
    height:45px;
    width: 300px;
}

.login-button{
    height: 45px;
    width: 100px;
}

.height-cont{
    height: 300px;
    width: 350px;
    /* backdrop-filter: blur(2.5px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
p{
    color:red;
} 
.condition{
    background-color: beige;
    border-radius: 5px;
  }

  .forgot-password-button {
    text-decoration: none;
  }


  
  