/* tripnavbar */

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
}


.navbar-toggler {
  border-color: transparent;
  padding: 0.25rem 0.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none;
  background-color: #f5f5f5;
  border-color: transparent;
}


.navbar-nav .nav-link {
  color: #555;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  color: #333;
  background-color: #f5f5f5;
}


.navbar .dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 0.25rem;
}

.navbar .dropdown-item {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.navbar .dropdown-item:hover {
  color: #333;
  background-color: #f5f5f5;
}


.hover-dropdown:hover .dropdown-menu {
  display: block;
}

.hover-dropdown:hover .nav-link {
  background-color: #f5f5f5;
  color: #333;
}

.hover-dropdown .dropdown-menu {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s, visibility 0.2s, margin-top 0.2s;
  transition: opacity 0.2s, visibility 0.2s, margin-top 0.2s;
}

.hover-dropdown .dropdown-menu a {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1.5rem;
}

.hover-dropdown .dropdown-menu a:hover {
  color: #333;
  background-color: #f5f5f5;
}

.hover-dropdown:hover .dropdown-menu {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

.hover-dropdown:hover .nav-link {
  background-color: #f5f5f5;
  color: #333;
}


.header {
  background-image: url('../../assets/Insta-images/1st-img.jpg');
  background-size: cover;
  background-position: center;
  animation: lion 20s linear infinite;
}

@keyframes lion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.admin-navbar {
  background-image: url('https://cdn.pixabay.com/photo/2016/06/10/02/32/lion-1449426_960_720.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.admin-navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.navbar {
  z-index: 2;
}



.trip-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .trip-card {
    width: 350px;
    height: 500px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f5f5f5; /* Lighter background color */
    animation: fadeInUp 0.5s ease-out;
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container img {
    /* width: 100%; */
    width:350px;
    height: 190px;
  }
  
  .badge {
    -webkit-text-size-adjust: 100%;
    list-style: none;
    box-sizing: inherit;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    background: #fc0;
    color: #000;
    font-weight: bold;
    left: -1px;
    border-radius: 0px;
    max-width: 75%;
    padding: 3px 9px;
    position: absolute;
    top: 15px;
    z-index: 0;
    /* position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5e3a;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold; */
  }

  .card-body {
    padding: 2px 16px 16px 16px;
    position: relative;
    justify-content: center;
    color: #333333; /* Updated text color */
  }
  
  .duration {
        background-color: #f5f5f5;
        color: black;
        padding: 8px 20px;
        font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 1.5;
        text-transform: uppercase;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        white-space: nowrap;
        width: 70%; 
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto 8px;
      
    /* background-color: #f5f5f5;
  color: black;
  padding: 8px 20px;
  font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 1.5;
  text-transform: uppercase;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  white-space: nowrap;
  width: 70%; 
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto 8px; */
        /*
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f5f5f5;
        color: black;
        padding: 8px 20px;
        font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 1.5;
        text-transform: uppercase;
        border: 1px solid gray;
        border-top: none;
        border-bottom: none;
        white-space: nowrap;
        width: 70%; 
        box-sizing: border-box;
        */
   /* position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #ffffff;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 10px; 
        font-weight: bold; */
      }
      
    /* position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold; */
  
  
  
  .title {
    font-weight: bold;
    font-size: 22px; /*Updated font size*/
    margin-bottom: 8px;
    text-align: center;
  }
  
  /* Animation */
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .element {
    animation: slideToLeft 0.5s ease-out;
  }
  
  