<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:100px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" style=" align-items: center;">
    <ul class="navbar-nav mr-auto">

      <select class="nav-link" id="priceFilter" [(ngModel)]="priceSort" style="border-width: 0px;"
        (change)="applyFilters()">
        <option value="">Sort By Price</option>
        <option value="asc">Low to High</option>
        <option value="desc">High to Low</option>
      </select>

      <select class="nav-link" id="durationSort" style="border-width: 0px;" [(ngModel)]="durationSort"
        (change)="applyFilters()">
        <option value="">Sort By Duration</option>
        <option value="asc">Short to Long</option>
        <option value="desc">Long to Short</option>
      </select>
      <select class="nav-link" id="latest" style="border-width: 0px;" (click)="applyFilters()">
        <option value="">latest</option>
      </select>

      <li class="nav-item active">
        <select class="nav-link" id="durationFilter" style="border-width: 0px;" [(ngModel)]="selectedDuration"
          (change)="applyFilters()">
          <option value="">duration</option>
          <option value="">All</option>
          <option value="1-5">6-10 days</option>
          <option value="6-10">6-10 days</option>
          <option value="11-15">11-15 days</option>
        </select>
      </li>
      <li class="nav-item active">
        <select class="nav-link" id="durationFilter" style="border-width: 0px;" [(ngModel)]="selectedPrice"
          (change)="applyFilters()">
          <option value="">Price</option>
          <option *ngFor="let price of priceLevel" [value]="price.value">{{price.label}}</option>
        </select>
      </li>
      <li class="nav-item active">
        <select class="nav-link" id="continentFilter" style="border-width: 0px;" [(ngModel)]="selectedContinents"
          (change)="applyFilters()">
          <option value="">Continent</option>
          <option *ngFor="let sCon of selectContinents" [value]="sCon.value">{{sCon.label}}</option>
        </select>
      </li>
      <li class="nav-item active">
        <select class="nav-link" id="countryFilter" style="border-width: 0px;" [(ngModel)]="selectedCountries"
          (change)="applyFilters()">
          <option value="">Country</option>
          <option *ngFor="let sCont of selectCountries " [value]="sCont.value">{{sCont.label}}</option>
        </select>
      </li>

    </ul>

  </div>
</nav>


<div class="trip-card-container" *ngIf="currentTrips.length > 0; else noTrips">
  <div class="trip-card" *ngFor="let trip of currentTrips">
    <div class="image-container">
      <img [src]="trip.heroImage" [alt]="trip.heroImage">
      <span class="badge">{{trip.badge}}</span>
    </div>
    <div class="card-body">
      <span class="duration">{{trip.tripDuration}} DAYS from ${{trip.price}}</span>
      <h2 class="title">{{trip.tripTitle}}</h2>
      <p> <span style="font-weight: 500;">Trip Type: <i class="fas fa-suitcase"></i></span> {{trip.tripType}} </p>
      <p> <span style="font-weight: 500;">Activity Level: </span>{{trip.activityLevel}}</p>
      <p> <span style="font-weight: 500;">Service Level: </span>{{trip.serviceLevel}}</p>
      <!-- <button class="btn btn-success login-button" (click)="exploreTrip(trip.tripId)" routerLink="/tripdesc">explore</button>&nbsp;&nbsp;&nbsp; -->
      <!-- <button class="btn btn-success login-button" (click)="exploreTrip(trip.tripId)">explore</button>&nbsp;&nbsp;&nbsp; -->
      <button style="position: absolute;top:265px"  class="btn btn-success login-button" (click)="editTrip(trip)">update trip</button>
      
      
      <!-- [routerLink]="'/tripdesc/' + trip.tripId" -->
      <!-- [routerLink]="['/trip', trip.tripId, 'description']" -->
    </div>
  </div>
</div>

<ng-template #noTrips>
  <p>No trips available.</p>
</ng-template>