<div class="payment" style="margin-top: 110px;">
    <h1>Payment</h1>
    <p>
        Provide your payment details below. We will not charge your credit card for the initial deposit until we confirm
        your reservation.
    </p>
</div>
<div class="horLine">
    <hr />
</div>
<!-- <div>

</div> -->
<!-- <div class="required">
    <pre style="color: red;">* Indicates required field</pre>
</div> -->
<div class="content">
    <div class="billing-add">
        <h1 style="margin-bottom: 50px;">BILLING ADDRESS</h1>
        <div style="height: 650px; width: 850px;">
            <form>

                <div style="display: flex;">
                    <input type="text" placeholder=" Name"
                        style=" height:50px; width: 300px; margin-right: 20px;margin-bottom: 20px;"><br><br>


                    <input type="tel" placeholder=" Mobile Number"
                        style="width: 300px;margin-right: 20px;margin-bottom: 20px;"><br><br>

                </div>

                <div style="display: flex;">
                    <input type="email" placeholder=" Email ID"
                        style="height:50px;width: 300px;margin-right: 20px;margin-bottom: 20px;"><br><br>


                    <input type="text" placeholder=" Country"
                        style="width: 300px;margin-right: 20px;margin-bottom: 20px;"><br><br>
                </div>

                <div style="display: flex;">

                    <input type="text" placeholder=" State"
                        style="height:50px;width: 300px;margin-right: 20px;margin-bottom: 20px;"><br><br>


                    <input type="text" placeholder=" Address"
                        style="width: 300px;margin-right: 20px;margin-bottom: 20px;"><br><br>

                </div>
                <div style="display: flex;">

                    <input type="text" placeholder="Enter zip code"
                        style="height:50px;width: 300px;margin-right: 20px;">


                    <input type="text" placeholder="Enter city" style="width: 300px;margin-right: 20px;">


                    <input type="text" placeholder="Enter state" style="width: 300px;margin-right: 20px;">
                </div><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>



    </div>
    <div class="summarycontainer">
        <h2>SUMMARY</h2>
        <div class="details">
            <div class="user">
                <p class="travelers">Travelers</p>
                <p class="deposit">Deposit</p>
                <br />
                <p class="name">BSAICHARANREDDY</p>
                <p class="price">${{billingTrip.price}}</p>
                <hr />
                <p class="deposit-">Deposit/Due Now</p>
                <div class="price-details">
                    <p class="price-">${{billingTrip.price}} * 1 Adult</p>
                    <p class="price--">${{billingTrip.price}}</p>
                </div>
            </div>
        </div>
        <div class="trip-selected">
            <p class="head-para">Trip Selected</p>

            <img style="height:150px;width:350px" [src]='billingTrip.heroImage'>
            <br />
            <br />
            <p class="head-para">
                Wildlife of the World by Private Jet
            </p>
            <pre>
{{billingTrip.tripDuration}} days
Nov 28-Dec 21, 2023
Adult prices from ${{billingTrip.price}}
     </pre>

        </div>



    </div>
</div>

<div class="payment-container">
    <div class="payment-container-centered">
        <!-- <div class="line"> -->
        <div class="button">
            <div class="button-div">
                <div class="submit-content">
                    <button (click)="razorPay()">
                        <div class="content-">
                            <span>Next : Submit</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

</div>