.payment{
    height:150px;
    width:800px;
    margin-left:335px;
    background-color: whitesmoke;
}
.payment h1{
    font-weight: bold;
}
.summarycontainer{
    height:650px;
    width:500px;
    /* display:inline-block; */
    /* background-color: aqua; */
    float:right;
    margin-right: 40px;
}
.details{
    background-color: whitesmoke;
    height:200px;
    width:500px;
    margin-top: 20px;
}
.travelers{
    display: inline-block;
    font-weight: bold;
}
.deposit{
    display: inline-block;
    font-weight: bold;
    float: right;
}
.user{
    padding:10px;
}
.name{
    display: inline-block;
    font-weight: bold;
}
.price{
    display: inline-block;
    float: right;
}
.deposit-{
    margin-top:12px;
    display: inline-block;
    font-weight: bold;
}
.price-details{
    display: inline-block;
   
    float: right;
}
.price--{
  font-weight: bold;
}
.trip-selected{
    background-color: whitesmoke;
    margin-top:20px;
    height: 375px;
    width:500px;
    padding:20px;

}
.head-para{
    font-weight: bold;
}
.content{
    height:800px;
    width:100%;
    /* background-color: crimson; */
}
.billing-add{
    height:650px;
    width:850px;
    display:inline-block;
    padding:50px;
    /* background-color: aquamarine; */
}

.payment-container{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin-bottom: 1.0625rem;
}
.payment-container-centered{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    position: relative;
    min-height: 1px;
    margin: 0 auto;
    float: none;
    width: 66.6666666667%;
    max-width: none;
}
.line{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    border-top: 1px solid #e6e6e6;
    padding-top: 35px;
}
.button{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    border-top: 1px solid #e6e6e6;
    padding-top: 35px;
}

.button button{
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    border: 0;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    text-decoration: none;
    transition: width .3s, color .3s;
    vertical-align: middle;
    color: #000;
    position: relative;
    height: auto;
    padding: 1.0625rem 2.125rem;
    margin-bottom: 10px;
    float: right;
    margin-right: 0;
    width: auto;
}
.button-div{
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    border: 0;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    text-decoration: none;
    transition: width .3s, color .3s;
    vertical-align: middle;
    color: #000;
    position: relative;
    height: auto;
    padding: 1.0625rem 2.125rem;
    margin-bottom: 10px;
    float: right;
    margin-right: 0;
    width: auto;
    background-color: #fc0;
    /* -webkit-text-size-adjust: 100%;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    cursor: pointer;
    color: #000;
    box-sizing: inherit;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fc0;  */
}
.submit-content{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    cursor: pointer;
    color: #000;
    box-sizing: inherit;
    position: relative;
    z-index: 2;
}

.content-{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    cursor: pointer;
    color: #000;
    box-sizing: inherit;
    margin: 0 auto;
    max-width: max-content;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.content-span{
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    cursor: pointer;
    color: #000;
    box-sizing: inherit;
    display: block;
}