<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<div class="buffering-overlay" *ngIf="loading">
    <div class="spinner"></div>
  </div>
<div class="page-container" [ngClass]="{'blur': loading}">
    <!-- Your page content here -->
  
  
<h1 align="center">Show Users</h1>
<br/>

<div class="container" *ngIf="users">
    <table class="table table-sm text-center table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th> User Id </th>
                <th> User Name </th>
                <th> Gender </th>
                <th> Country </th>
                <th> mobile Number </th>
                <th> EmailId </th>
                <th colspan="2"> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td> {{user.userId }} </td>
                <td> {{user.userName | gender:user.gender | uppercase }}</td>
                <td> {{user.gender | lowercase }} </td>
                <td> {{user.country }} </td>
                <td> {{user.mobileNumber}} </td>
                <td> {{user.emailId }} </td>
                <td> 
                    <button type="button" class="btn btn-default btn-sm" (click)="editUser(user)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td> 
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(user.userId)">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


</div>
  

  
  <!-- Rest of your component's HTML content -->
  

