<h2 mat-dialog-title>Edit Trip</h2>
<div mat-dialog-content>
  <table align="center">
    <tr>
      <td align="right">Trip ID</td>
      <td align="left"><input type="number" name="tripId" [(ngModel)]="tripObject.tripId" readonly /></td>
    </tr>
    <tr>
      <td align="right">Trip Badge</td>
      <td align="left"><input type="text" name="badge" [(ngModel)]="tripObject.badge"/></td>
    </tr>
    <tr>
      <td align="right">Trip Title</td>
      <td align="left"><input type="text" name="tripTitle" [(ngModel)]="tripObject.tripTitle" /></td>
    </tr>
    <tr>
      <td align="right">Trip Duration</td>
      <td align="left"><input type="number" name="tripDuration" [(ngModel)]="tripObject.tripDuration" readonly /></td>
    </tr>
    <tr>
      <td align="right">Price</td>
      <td align="left"><input type="number" name="price" [(ngModel)]="tripObject.price"/></td>
    </tr>
    <tr>
      <td align="right">Trip Type</td>
      <td align="left"><input type="text" name="tripType" [(ngModel)]="tripObject.tripType" /></td>
    </tr>
    <tr>
      <td align="right">Service Type</td>
      <td align="left"><input type="text" name="serviceLevel" [(ngModel)]="tripObject.serviceLevel" /></td>
    </tr>
    <tr>
      <td align="right">Activity Level</td>
      <td align="left"><input type="text" name="activityLevel" [(ngModel)]="tripObject.activityLevel" /></td>
    </tr>
    <tr>
      <td align="right">Change Image</td>
      <td align="left"><input type="text" name="heroImage" [(ngModel)]="tripObject.heroImage" /></td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button color="primary" (click)="updateTrip()">Update</button>
</div>
