<app-header></app-header>
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
<!-- <app-register></app-register> -->
<!-- <app-getuserbyid></app-getuserbyid> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-admin></app-admin> -->
<!-- <app-home></app-home> -->
<!-- <app-forgotpassword></app-forgotpassword> -->

<!-- <app-trial></app-trial> -->
<!-- <app-trip></app-trip> -->
<!-- <app-user-info></app-user-info> -->
<!-- <app-tripdescription></app-tripdescription> -->

<!-- <app-profile></app-profile> -->
<!-- <app-bookingtrip></app-bookingtrip> -->
<!-- <app-mybookings></app-mybookings> -->
<!-- <app-addtrip></app-addtrip> -->
<!-- <app-paymentservice></app-paymentservice> -->
<!-- <app-forgotpassword></app-forgotpassword> -->