    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:100px;">
    <a class="navbar-brand" href="#">Wildlife Expeditions</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item dropdown hover-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tripsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Trips
            </a>
            <div class="dropdown-menu" aria-labelledby="tripsDropdown">
              <a class="dropdown-item" href="#">Add New Trip</a>
              <a class="dropdown-item" href="#">Edit Trip Plans</a>
              <a class="dropdown-item" href="#">Delete Trip Plans</a>
            </div>
          </li>
          <li class="nav-item dropdown hover-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <div class="dropdown-menu" aria-labelledby="usersDropdown">
              <a class="dropdown-item" routerLink="userInfo">View User Information</a>
              <a class="dropdown-item" href="#">Manage User Accounts</a>
              <a class="dropdown-item" href="#">Review User Feedback</a>
            </div>
          </li>
          <li class="nav-item dropdown hover-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="bookingsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Bookings
            </a>
            <div class="dropdown-menu" aria-labelledby="bookingsDropdown">
              <a class="dropdown-item" href="#">View Bookings</a>
              <a class="dropdown-item" href="#">Manage Bookings</a>
              <a class="dropdown-item" href="#">Handle Complaints</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Analytics</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav> -->
