/* .navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
}


.navbar-toggler {
  border-color: transparent;
  padding: 0.25rem 0.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none;
  background-color: #f5f5f5;
  border-color: transparent;
}


.navbar-nav .nav-link {
  color: #555;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  color: #333;
  background-color: #f5f5f5;
}


.navbar .dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 0.25rem;
}

.navbar .dropdown-item {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.navbar .dropdown-item:hover {
  color: #333;
  background-color: #f5f5f5;
}


.hover-dropdown:hover .dropdown-menu {
  display: block;
}

.hover-dropdown:hover .nav-link {
  background-color: #f5f5f5;
  color: #333;
}

.hover-dropdown .dropdown-menu {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s, visibility 0.2s, margin-top 0.2s;
  transition: opacity 0.2s, visibility 0.2s, margin-top 0.2s;
}

.hover-dropdown .dropdown-menu a {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1.5rem;
}

.hover-dropdown .dropdown-menu a:hover {
  color: #333;
  background-color: #f5f5f5;
}

.hover-dropdown:hover .dropdown-menu {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

.hover-dropdown:hover .nav-link {
  background-color: #f5f5f5;
  color: #333;
}


.header {
  background-image: url('../../assets/Insta-images/1st-img.jpg');
  background-size: cover;
  background-position: center;
  animation: lion 20s linear infinite;
}

@keyframes lion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.admin-navbar {
  background-image: url('https://cdn.pixabay.com/photo/2016/06/10/02/32/lion-1449426_960_720.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.admin-navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.navbar {
  z-index: 2;
}
 */
