<head>
    <style>
        input{color:black;}
        select{color:black}
        option{color:black}
    </style>
</head>
<h2 mat-dialog-title>Edit User</h2>
<div mat-dialog-content>
  <table align="center">
    <tr>
      <td align="right">User ID</td>
      <td align="left"><input type="number" name="userId" [(ngModel)]="userObject.userId" readonly /></td>
    </tr>
    <tr>
      <td align="right">User Name</td>
      <td align="left"><input type="text" name="userId" [(ngModel)]="userObject.userName"/></td>
    </tr>

    <tr>
        <td align="right">Gender</td>
        <td align="left">
            <select name="gender" [(ngModel)]="userObject.gender">
                <option value=""> Select Gender </option>
                <option value="Male"> Male </option>
                <option value="Female"> Female </option>
                <option value="Other"> Other </option>
            </select>
        </td>
    </tr>
    <tr>
        <td align="right">Country</td>
        <td align="left">
            <select name="country" [(ngModel)]="userObject.country">
                <option value=""> Select Country </option>

                <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>

            </select>
        </td>
    </tr>
     <tr>
      <td align="right">Mobile Number</td>
      <td align="left"><input type="number" name="mobileNumber" [(ngModel)]="userObject.mobileNumber"/></td>
    </tr>
    <tr>
      <td align="right">Email Id</td>
      <td align="left"><input type="text" name="emailId" [(ngModel)]="userObject.emailId" /></td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button color="primary" (click)="updateUser()">Update</button>
</div>