<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="changePassword(forgotPasswordForm.value)" #forgotPasswordForm="ngForm">
      <div class="input-group input-login">
        <!-- <span class="input-group-addon"  style="height:50px"><i class="glyphicon glyphicon-user"></i></span> -->
        <input class="form-control input-login" name="emailId" [(ngModel)]="emailId" placeholder="Enter EmailId"
          required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" (input)="updateEmailValidation()"
          (focus)="clearEmailValidation()" /> &nbsp;
        </div>
        <div>
          <button type="button" (click)="sendOTP(forgotPasswordForm.value.emailId)">Send OTP</button>
        </div> 
          <br/>
          
      

      <div class="email-validation" *ngIf="emailTouched">
        <div class="condition" *ngIf="!isEmailValid('format')">
          Invalid email format.
        </div>
        <div class="condition" *ngIf="!checkEmailExists(emailId)">
          EmailId does't Exists.
        </div>
      </div>


      <div>
        <div class="input-group input-login">
          <!-- <label for="otp">OTP</label> -->
          <input type="text" id="otp" name="otp" placeholder="Enter Otp" pattern="[0-9]{6}" ngModel required>
        </div>
          <br/>
          <button type="button" (click)="verifyOtp(forgotPasswordForm.value.emailId,forgotPasswordForm.value.otp)">verify OTP</button>
        
       
      </div>

      <br/>

      <div>
        <div class="input-group input-login">
          <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
          <input class="form-control input-login" name="password" [(ngModel)]="password" placeholder="Enter Password"
            required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" (input)="updatePasswordValidation()"
            (focus)="clearPasswordValidation()" type="password" /> <br />
        </div>
        <div class="password-validation" *ngIf="passwordTouched">
          <div class="condition" *ngIf="!isPasswordValid('length')">
            Must have at least 8 characters
          </div>
          <div class="condition" *ngIf="!isPasswordValid('uppercase')">
            Must have at least 1 uppercase letter
          </div>
          <div class="condition" *ngIf="!isPasswordValid('lowercase')">
            Must have at least 1 lowercase letter
          </div>
          <div class="condition" *ngIf="!isPasswordValid('digit')">
            Must have at least 1 digit
          </div>
          <div class="condition" *ngIf="!isPasswordValid('special')">
            Must have at least 1 special character
          </div>
        </div>
        <br />
  
  
  
  
  
  
        <!-- PERFECT PERFECTLY working -->
        <div class="input-group input-login" *ngIf="password && allPasswordConditionsSatisfied()">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control input-login" type="text" name="confirmPassword" [(ngModel)]="confirmPassword"
            placeholder="Confirm Password*" (input)="checkPasswordMatch()" (focus)="clearConfirmPasswordValidation()" type="password" />
        </div>
        <div class="password-validation" *ngIf="confirmPasswordTouched">
          <div class="condition text-danger" *ngIf="!passwordMatch">
            Passwords do not match
          </div>
        </div>
      
        <button type="submit">Reset Password</button>

      </div>
    </form>
  </div>
  

<!-- <div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="forgotPassword(forgotPasswordForm.value)" #forgotPasswordForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel required>
      </div>
      <button type="submit" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
    </form>
  </div>
   -->