<!-- <div class="trip-detail">
    <div class="hero-image">
      <h1 class="hero-title">tripTitle</h1>
      <div class="hero-description">
        <p>continent</p>
        <p>country</p>
        <p>tripType</p>
        <p>price</p>
        <p>activityLevel</p>
        <p>serviceLevel</p>
        <p>tripDuration</p>
      </div>
    </div>
    
    <div class="trip-details-bar">
      <div class="trip-detail-stickyInPageNav">
        <ul class="trip-nav">
          <li class="trip-nav-item">Trip Overview</li>
          <li class="trip-nav-item">Itinerary</li>
          <li class="trip-nav-item">What to Expect</li>
          <li class="trip-nav-item">Accommodation</li>
          <li class="trip-nav-item">Expert Team</li>
          <li class="trip-nav-item">Transportation</li>
          <li class="trip-nav-item">What's Included</li>
          <li class="trip-nav-item">What's Not Included</li>
        </ul>
      </div>
      
      <div class="Expeditions-overview">
        <h2>Trip Overview</h2>
        <p>tripOverview</p>
      </div>

      <div class="itenary">
        <h2>Itinerary</h2>
        <p>itinerary</p>
      </div>

      <div class="what-to-expect">
        <h2>What to Expect</h2>
        <p>whatToExpect</p>
      </div>

      <div class="trip-section">
        <h2>Accommodation</h2>
        <p>accommodation</p>
      </div>

      <div class="trip-section">
        <h2>Expert Team</h2>
        <p>expertTeam</p>
      </div>

      <div class="trip-section">
        <h2>Transportation</h2>
        <p>transportation</p>
      </div>

      <div class="trip-section">
        <h2>What's Included</h2>
        <p>whatIncluded</p>
      </div>

      <div class="trip-section">
        <h2>What's Not Included</h2>
        <p>whatNotIncluded</p>
      </div>
    </div>
  </div> -->

  

  <section class="hero" style="background-image: url('{{trip.heroImage}}');">
    <div class="hero-overlay">
      <div class="container">
        <h1 class="hero-title" style="text-align: center;">{{trip.tripTitle}}</h1>
        <p class="hero-description">
        <span>Continent:{{tripDesc.continent}} |
        Country : {{trip.country}} | 
        TripType : {{tripDesc.tripType}} | 
        Price : ${{tripDesc.price}} | 
        activityLevel : {{tripDesc.activityLevel}} | 
        ServiceLevel : {{tripDesc.serviceLevel}} |
        tripDuration : {{tripDesc.tripDuration}} days.</span>
        </p>

      </div>
    </div>
  </section>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 100px;">
    <a class="nav-link" style="color: black;" href="#">Navigate Description : </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="trip.tripOverView" class="nav-item">
          <a class="nav-link" href="#tripOverview">Trip Overview</a>
        </li>
        <li *ngIf="trip.itenary" class="nav-item">
          <a class="nav-link" href="#itinerary">Itinerary</a>
        </li>
        <li *ngIf="trip.whatToExpect!==''" class="nav-item">
          <a class="nav-link" href="#whatToExpect">What to Expect</a>
        </li>
        <li *ngIf="trip.accommodation!==''" class="nav-item">
          <a class="nav-link" href="#accommodation">Accommodation</a>
        </li>
        <li *ngIf="trip.expertTeam!==''" class="nav-item">
          <a class="nav-link" href="#expertTeam">Expert Team</a>
        </li>
        <li *ngIf="trip.transportation!==''" class="nav-item">
          <a class="nav-link" href="#transportation">Transportation</a>
        </li>
        <li *ngIf="trip.whatIncluded!==''" class="nav-item">
          <a class="nav-link" href="#whatIncluded">What's Included</a>
        </li>
        <li *ngIf="trip.whatNotIncluded!==''" class="nav-item">
          <a class="nav-link" href="#whatNotIncluded">What's Not Included</a>
        </li>
      </ul>
    </div>
  </nav>
  <div *ngIf="trip.tripOverview !== ''" id="tripOverview" class="trip-card">
    <h2>Trip Overview</h2>
    <p>{{ tripDesc.tripOverview }}</p>
  </div>
  
  <!-- Itinerary Card -->
  <div *ngIf="trip.itinerary !== ''" id="itinerary" class="trip-card">
    <h2>Itinerary</h2>
    <p>{{ tripDesc.itinerary }}</p>
  </div>
  
  <!-- What to Expect Card -->
  <div *ngIf="trip.whatToExpect !== ''" id="whatToExpect" class="trip-card">
    <h2>What to Expect</h2>
    <p>{{ tripDesc.whatToExpect }}</p>
  </div>
  
  <!-- Accommodation Card -->
  <div *ngIf="trip.accommodation !== ''" id="accommodation" class="trip-card">
    <h2>Accommodation</h2>
    <p>{{ tripDesc.accommodation }}</p>
  </div>
  
  <!-- Expert Team Card -->
  <div *ngIf="trip.expertTeam !== ''" id="expertTeam" class="trip-card">
    <h2>Expert Team</h2>
    <p>{{ tripDesc.expertTeam }}</p>
  </div>
  
  <!-- Transportation Card -->
  <div *ngIf="trip.transportation !== ''" id="transportation" class="trip-card">
    <h2>Transportation</h2>
    <p>{{ tripDesc.transportation }}</p>
  </div>
  
  <!-- What's Included Card -->
  <div *ngIf="trip.whatIncluded !== ''" id="whatIncluded" class="trip-card">
    <h2>What's Included</h2>
    <p>{{ tripDesc.whatIncluded }}</p>
  </div>
  
  <!-- What's Not Included Card -->
  <div *ngIf="trip.whatNotIncluded !== ''" id="whatNotIncluded" class="trip-card">
    <h2>What's Not Included</h2>
    <p>{{ tripDesc.whatNotIncluded }}</p>
  </div>
  
  <!-- Add script.js if required -->
  <script src="script.js"></script>
      <!-- <div *ngIf="trip.tripOverview!==''" id="tripOverview" class="Expeditions-overview">
        <h2>Trip Overview</h2>
        <p>{{tripDesc.tripOverview}}</p>
      </div>

      <div *ngIf="trip.itenary!==''" id="itenarary" class="itenary">
        <h2>Itinerary</h2>
        <p>{{tripDesc.itenary}}</p>
      </div>

      <div *ngIf="trip.whatToExpect!==''" id="whatToExpect"class="what-to-expect">
        <h2>What to Expect</h2>
        <p>{{tripDesc.whatToExpect}}</p>
      </div>

      <div *ngIf="trip.accommodation!==''" id="accommodation"class="trip-section">
        <h2>Accommodation</h2>
        <p>{{tripDesc.accommodation}}</p>
      </div>

      <div *ngIf="trip.expertTeam!==''" id="expertTeam"class="trip-section">
        <h2>Expert Team</h2>
        <p>{{tripDesc.expertTeam}}</p>
      </div>

      <div *ngIf="trip.transportation!==''" id="transportation"class="trip-section">
        <h2>Transportation</h2>
        <p>{{tripDesc.transportation}}</p>
      </div>

      <div *ngIf="trip.whatIncluded!==''" id="whatIncluded"class="trip-section">
        <h2>What's Included</h2>
        <p>{{tripDesc.whatIncluded}}</p>
      </div>

      <div *ngIf="trip.whatNotIncluded!==''" id="whatNotIncluded"class="trip-section">
        <h2>What's Not Included</h2>
        <p>{{tripDesc.whatNotIncluded}}</p>
      </div>

  <script s rc="script.js"></script>


   -->