/* styles.css */

/* .trip-detail {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    max-width: 1600px;
    min-width: 320px;
    margin: 0 auto;
  }
  
  .hero-image {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
  }
  
  .trip-details-bar {
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 1.5;
    background: #000;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    padding: 40px;
  }
  
  .trip-detail-stickyInPageNav {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    float: left;
    position: relative;
    min-height: 1px;
    width: 25%;
    padding: 0 40px;
  }
  
  .trip-nav-item {
    -webkit-text-size-adjust: 100%;
    color: black;
    list-style: none;
    box-sizing: inherit;
    font-family: 'GeoEditMedium', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .Expeditions-overview {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    color: #333;
    box-sizing: inherit;
    border-bottom: 1px solid #999;
    padding-bottom: 40px;
    border-top: none;
    display: flex;
    flex-flow: row wrap;
  }
  
  .itenary {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    padding-top: 40px;
  }
  
  .accommodation {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    padding-top: 40px;
  }
  
  .expert-team {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    padding-top: 40px;
  }
  
  .transportation {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    padding-top: 40px;
  }
  
  .what-included {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    padding-top: 40px;
  }
  
  .what-not-included {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    padding-top: 40px;
  } */

  
  /* styles.css */

/* .what-to-expect {
    -webkit-text-size-adjust: 100%;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
  }
  
  .trip-details-bar .trip-nav-item {
    cursor: pointer;
  }
  
  #overview-nav-item {
    scroll-behavior: smooth;
  }
  
  #itenary-nav-item {
    scroll-behavior: smooth;
  }
  
  #what-to-expect-nav-item {
    scroll-behavior: smooth;
  }
  
  #accommodation-nav-item {
    scroll-behavior: smooth;
  }
  
  #expert-team-nav-item {
    scroll-behavior: smooth;
  }
  
  #transportation-nav-item {
    scroll-behavior: smooth;
  }
  
  #what-included-nav-item {
    scroll-behavior: smooth;
  }
  
  #what-not-included-nav-item {
    scroll-behavior: smooth;
  }
   */


   .hero {
    position: relative;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

.hero-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.hero-title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-description {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;

}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
}


.navbar-toggler {
  border-color: transparent;
  padding: 0.25rem 0.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none;
  background-color: #f5f5f5;
  border-color: transparent;
}


.navbar-nav .nav-link {
  color: #555;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  color: #333;
  background-color: #f5f5f5;
}


.navbar .dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 0.25rem;
}

.navbar .dropdown-item {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.navbar .dropdown-item:hover {
  color: #333;
  background-color: #f5f5f5;
}


.hover-dropdown:hover .dropdown-menu {
  display: block;
}

.hover-dropdown:hover .nav-link {
  background-color: #f5f5f5;
  color: #333;
}

.hover-dropdown .dropdown-menu {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s, visibility 0.2s, margin-top 0.2s;
  transition: opacity 0.2s, visibility 0.2s, margin-top 0.2s;
}

.hover-dropdown .dropdown-menu a {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1.5rem;
}

.hover-dropdown .dropdown-menu a:hover {
  color: #333;
  background-color: #f5f5f5;
}

.hover-dropdown:hover .dropdown-menu {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

.hover-dropdown:hover .nav-link {
  background-color: #f5f5f5;
  color: #333;
}

/* CSS styles for trip detail page */

/* Trip section */
.trip-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.trip-card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.trip-card p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 10px;
}
.trip-section {
  padding: 50px;
  background-color: #f8f9fa;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trip-section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.trip-section p {
  color: #555;
  line-height: 1.5;
}
.trip-section {
  padding: 50px 0;
  background-color: #f1f1f1;
}

.trip-title {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.trip-description {
  color: #666;
  margin-bottom: 20px;
}

.trip-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.trip-details-item {
  display: flex;
  align-items: center;
}

.trip-details-icon {
  margin-right: 10px;
}

.trip-details-label {
  color: #666;
}

.trip-details-value {
  color: #333;
  font-weight: bold;
}

.trip-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.trip-features {
  display: flex;
  flex-wrap: wrap;
}

.trip-feature {
  flex: 0 0 33.33%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.trip-feature-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.trip-feature-title {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.trip-feature-description {
  color: #666;
}

.trip-highlights {
  margin-bottom: 20px;
}

.trip-highlight {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.trip-highlight-icon {
  font-size: 24px;
  color: #333;
  margin-right: 10px;
}

.trip-highlight-text {
  color: #666;
}

.trip-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.trip-button:hover {
  background-color: #555;
}
