<form style="margin-top: 100px;" #regFrom="ngForm" (ngSubmit)="tripRegistration(regFrom.value)">
  
    <!-- <label for="continent">Continent:</label> -->
    <select id="continent" name="continent" required ngModel>
          <option value="">Continent</option>
          <option *ngFor="let sCont of continents " [value]="sCont.value">{{sCont.label}}</option>
    </select>
  
    <!-- <label for="country">Country:</label> -->
    <select id="continent" name="country" required ngModel>
        <option value="">Country</option>
        <option *ngFor="let sCont of countries " [value]="sCont.value">{{sCont.label}}</option>
  </select>
  
    <label for="tripType">Trip Type:</label>
    <input type="text" id="tripType" name="tripType" required ngModel>
  
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" name="imageUrl" required ngModel>
  
    <label for="badge">Badge:</label>
    <input type="text" id="badge" name="badge" required ngModel>
  
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required ngModel>
  
    <label for="activityLevel">Activity Level:</label>
    <input type="text" id="activityLevel" name="activityLevel" required ngModel>
  
    <label for="serviceLevel">Service Level:</label>
    <input type="text" id="serviceLevel" name="serviceLevel" required ngModel>
  
    <label for="tripDuration">Trip Duration:</label>
    <input type="number" id="tripDuration" name="tripDuration" required ngModel>
  
    <label for="tripTitle">Trip Title:</label>
    <input type="text" id="tripTitle" name="tripTitle" required ngModel>
  
    <label for="heroImage">Hero Image:</label>
    <input type="text" id="heroImage" name="heroImage" required ngModel>
  
    <label for="tripOverView">Trip Overview:</label>
    <textarea id="tripOverView" name="tripOverView"  ngModel></textarea>
  
    <label for="itenary">Itinerary:</label>
    <textarea id="itenary" name="itenary"  ngModel></textarea>
  
    <label for="whatToExpect">What to Expect:</label>
    <textarea id="whatToExpect" name="whatToExpect"  ngModel></textarea>
  
    <label for="accommodation">Accommodation:</label>
    <textarea id="accommodation" name="accommodation"  ngModel></textarea>
  
    <label for="expertTeam">Expert Team:</label>
    <textarea id="expertTeam" name="expertTeam"  ngModel></textarea>
  
    <label for="transportation">Transportation:</label>
    <textarea id="transportation" name="transportation"  ngModel></textarea>
  
    <label for="whatIncluded">What's Included:</label>
    <textarea id="whatIncluded" name="whatIncluded"  ngModel></textarea>
  
    <label for="whatNotIncluded">What's Not Included:</label>
    <textarea id="whatNotIncluded" name="whatNotIncluded"  ngModel></textarea>

    <button>Register Trip</button>

  </form>
  