.trialClass1{
    -webkit-text-size-adjust: 100%;
    text-align: left;
    box-sizing: inherit;
    font-family: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 14px;
    line-height: 1.429;
    color: inherit;
    border-bottom: 2px solid #fc0;
    background-image: linear-gradient(120deg, #fc0 0%, #fc0 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.0em;
    background-position: 0 100%;
    transition: background-size 0.125s ease-in;
    text-decoration: none;
    display: inline-block;
}



.admin-navbar {
    background-image: url('https://cdn.pixabay.com/photo/2016/06/10/02/32/lion-1449426_960_720.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .admin-navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
  }
  
  .navbar {
    z-index: 2;
  }
  
  
  .navbar {
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    border-left: 5px solid orangered;
    padding-left: 10px;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 1rem;
    }
  
    .navbar-brand {
      font-size: 1.2rem;
    }
  
    .nav-link {
      font-size: 1rem;
    }
  
  
  }
  
  .img-logo{
    height: 84px;
    width: 87px;
    border-radius: 50%;
  }