<div id="ngs-exp-tripdetails-content">
    <div>
      <div class="pricesAndDates section">
        <div>
          <section>
            <div>
              <div class="ngs-exp-drawer__content mt_row">
                <div class="pricesanddates-table-container">
                  <div>
                    <div>
                      <div>
                        <div>
                          <div class="pricesanddates__row-collapsed-view">
                            <div>
                              <div>
                                <div>
                                  <div>
                                    <a tabindex="0" class="trialClass1" href="https://www.nationalgeographic.com/expeditions/reservations/?departure_guid=81bcb2df-525a-5a88-8da9-a25ed0507fe2" target="_self">Reserve Online</a>
<li class="nav-item dropdown" *ngIf="true">
    <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-toggle="dropdown" aria-haspopup="true"
      style="font-size:20px; color: white" aria-expanded="false">
      Destinations
    </a>
    <div class="dropdown-menu p-0">
      <div class="container">
        <div class="row m-0">
          <div class="col">
            <a class="dropdown-item" href="#">Africa</a>
          </div>
          <div class="col">
            <a class="dropdown-item" href="#">Asia</a>
          </div>
          <div class="col">
            <a class="dropdown-item" href="#">North America</a>
          </div>
        </div>
      </div>
    </div>
  </li>
                                    <a href="#">Targeted Element</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  




