<div>
    <body style="margin-top: 100px;">
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <div class="content" style="margin-left: 500px;margin-top: 50px;font-family: sans-serif;">
            <div class="card" id="1" style="width: 35rem;">
                <div class="card-body" id="2">
                    <h2 class="card-title" style="text-align: center;"><b>WildLife Expeditions</b></h2>
                    <p class="card-text">Welcome to the Payment gateway of . Please select paynow option below 
                        to continue with your Payment.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5><b>Name :</b> {{users.userName}}</h5>
                    </li>
                    <li class="list-group-item">
                        <h5><b>Mail : </b>{{users.emailId}}</h5>
                    </li>
                    <li class="list-group-item">
                        <h5><b>Phone : </b>{{users.mobileNumber}}</h5>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Total Amount: ${{finalAmount}}</h5>
                    </li>
                </ul>
                <div class="card-body" id="3">
                    <button class="btn btn-danger btn-sm" routerLink="/home" style="font-size: 25px;">Go Back</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-success btn-sm" style="font-size: 25px;">Pay 💳
                    </button>
                    
                </div>
            </div>
        </div>
    </body>
    </div>