.google-button {
    background-color: #4285F4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .google-button:hover {
    background-color: #357AE8;
  }
  
  .google-logo {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
  }