.hero {
  position: relative;
  height: 500px;
  background-image: url('../../assets/profileImage/ecuador-amazon-hot-spring-waterfall.adapt.1900.1.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.hero-title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-description {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;

}

.explore-head{
  font-weight: bold;
  height:80px;
  width:fit-content;
  top:318px;
  left:535px;
  position:absolute;
}

.profile{
  height:600px;
  width:100%;
  justify-content: center;
  background-color: whitesmoke;
  margin-top: 100px;
  padding:50px;
}
/* .profile-container {
  margin-top:100px;
  margin-left:400px;
  width: 800px;
  height: 600px;
  padding: 20px;
  padding-left:150px;
  background-color: #f2f2f2;
} */

.profile-container {
  margin-top:100px;
  margin-left:400px;
  height:500px;
  width: 600px;
  padding: 20px;
  padding-left:120px;
  background-color: #f2f2f2;
}
.profile-container h1{
  margin-bottom: 30px;
}

.profile-fields {
  margin-bottom: 30px;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  width: 120px;
  font-weight: bold;
}

span {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 16px;
}

.edit-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
