<section class="hero">
  <div class="hero-overlay">
    <div class="container">
      <h1 class="hero-title">Welcome to Wildlife Expeditions</h1>
      <p class="hero-description">{{profile.userName}}</p>
    </div>
  </div>
</section>

<div class="profile-container">
  <h1>Profile Information</h1>
  <div class="profile-fields">
    <div class="field">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="profile.userName" [value]="profile.userName">
    </div>

    <div class="field">
      <label for="mobile">Mobile Number:</label>
      <input type="text" id="mobile" [(ngModel)]="profile.mobileNumber" [value]="profile.mobileNumber">
    </div>

    <div class="field">
      <label for="gender">Gender:</label>
      <input type="text" id="gender" [(ngModel)]="profile.gender" [value]="profile.gender">
    </div>

    <div class="field">
      <label for="country">Country:</label>
      <!-- <input type="text" id="country" [(ngModel)]="profile.country" [value]="profile.country"> -->
      <select style="width:170px;height: 27px;" type="text" id="country" [(ngModel)]="profile.country" [value]="profile.country">
        <option value=""> Select Country </option>
        <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}}</option>
      </select>
    </div>

    <div class="field">
      <label for="email">Email ID:</label>
      <input type="text" id="email" [(ngModel)]="profile.emailId" [value]="profile.emailId">
    </div>

    <div class="field">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="profile.password" [value]="profile.password">
    </div>
  </div>

  <button class="btn-btn-primary" (click)="updateUser()">Update Profile</button>
</div>


<!-- 

<div class="hero-img">
  <div class="explore-head">
  
  <h1>WELCOME USER</h1>
  </div>
</div>

<div class="profile-container">
  <h1>Profile Information</h1>
  <div class="profile-fields">
    <div class="field">
      <label for="name">Name:</label>
      <span>{{ profile.userName }}</span>
    </div>

    <div class="field">
      <label for="mobile">Mobile Number:</label>
      <span>{{ profile.mobileNumber }}</span>
    </div>

    <div class="field">
      <label for="gender">Gender:</label>
      <span>{{ profile.gender }}</span>
    </div>

    <div class="field">
      <label for="country">Country:</label>
      <span>{{ profile.country }}</span>
    </div>

    <div class="field">
      <label for="email">Email ID:</label>
      <span>{{ profile.emailId }}</span>
    </div>

    <div class="field">
      <label for="password">Password:</label>
      <span>{{ profile.password }}</span>
    </div>
  </div>

  <button class="edit-button">Edit Profile</button>
</div> -->
