<head>
    <style>
        th-card {
            padding: 0px;
        }
    </style>
</head>

<body style="background-color: black;"><!-- HERO SECTION -->

    <!-- <div *ngIf="adminLoginStatus" style="color:red;font-size: 500px;"></div> -->

    <section class="hero">
        <div class="hero-overlay">
            <div class="container">
                <h1 class="hero-title">Welcome to Wildlife Expeditions</h1>
                <p class="hero-description">Explore the wonders of the natural world with our passionate team of
                    experienced guides and nature enthusiasts.</p>
            </div>
        </div>
    </section>

    <!-- <div class="jumbotron jumbotron-fluid bg-wheat text-dark ">
        <div class=" container">
            <h1 class="display-4 explore-head">Explore the Wild</h1>
            <p class="lead explore-para">Join us for an unforgettable wildlife expedition</p> -->
    <!-- <button type="button" class="btn btn-outline-success button-book">Booknow</button> -->
    <!-- </div>
    </div> -->


    <!-- TRIP PLANNER-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 0;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" style=" align-items: center;">
            <ul class="navbar-nav mr-auto">

                <select class="nav-link" id="priceFilter" [(ngModel)]="priceSort" style="border-width: 0px;"
                    (change)="applyFilters()">
                    <option value="">Sort By Price</option>
                    <option value="asc">Low to High</option>
                    <option value="desc">High to Low</option>
                </select>

                <select class="nav-link" id="durationSort" style="border-width: 0px;" [(ngModel)]="durationSort"
                    (change)="applyFilters()">
                    <option value="">Sort By Duration</option>
                    <option value="asc">Short to Long</option>
                    <option value="desc">Long to Short</option>
                </select>
                <select class="nav-link" id="latest" style="border-width: 0px;" (click)="applyFilters()">
                    <option value="">latest</option>
                </select>

                <li class="nav-item active">
                    <select class="nav-link" id="durationFilter" style="border-width: 0px;"
                        [(ngModel)]="selectedDuration" (change)="applyFilters()">
                        <option value="">duration</option>
                        <option value="">All</option>
                        <option value="1-5">6-10 days</option>
                        <option value="6-10">6-10 days</option>
                        <option value="11-15">11-15 days</option>
                    </select>
                </li>
                <li class="nav-item active">
                    <select class="nav-link" id="durationFilter" style="border-width: 0px;" [(ngModel)]="selectedPrice"
                        (change)="applyFilters()">
                        <option value="">Price</option>
                        <option *ngFor="let price of priceLevel" [value]="price.value">{{price.label}}</option>
                    </select>
                </li>
                <li class="nav-item active">
                    <select class="nav-link" id="continentFilter" style="border-width: 0px;"
                        [(ngModel)]="selectedContinents" (change)="applyFilters()">
                        <option value="">Continent</option>
                        <option *ngFor="let sCon of selectContinents" [value]="sCon.value">{{sCon.label}}</option>
                    </select>
                </li>
                <li class="nav-item active">
                    <select class="nav-link" id="countryFilter" style="border-width: 0px;"
                        [(ngModel)]="selectedCountries" (change)="applyFilters()">
                        <option value="">Country</option>
                        <option *ngFor="let sCont of selectCountries " [value]="sCont.value">{{sCont.label}}</option>
                    </select>
                </li>

            </ul>

        </div>
    </nav>
    <div class="trip-card-container" *ngIf="currentTrips.length > 0; else noTrips">
        <div class="trip-card" *ngFor="let trip of currentTrips | slice:0:displayLimit" >
            <div class="image-container"(click)="exploreTrip(trip.tripId)">
                <img [src]="trip.heroImage" [alt]="trip.heroImage">
                <span class="badge">{{trip.badge}}</span>

                <!-- <ng-container >
                <div class="favorite-icon" (click)="toggleFavorite(trip)">
                  <i class="fas" [class.fa-heart-plus]="!isFavorite(trip.tripId)" [class.fa-heart-minus]="isFavorite(trip.tripId)"></i>
                </div>
              </ng-container> -->
                <!-- *ngIf="loginStatus" -->
                <!-- <div *ngIf="loginStatus" class="favorite-icon" (click)="toggleFavorite(trip)">
                <div style="background-color: red; width: 18px; border-radius: 5px;">
                  <i class="fas" [class]="!trip.favorite" [class.fa-heart-circle-plus]="!trip.favorite" [class.fa-heart-circle-xmark]="trip.favorite"></i>
                </div>
              </div> -->
                <!-- <button class="btn btn-danger btn-sm" (click)="toggleFavorite(trip.tripId)">
                <i class="bi bi-heart-fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>
                </i> fav</button> -->
                <!-- <div class="d-flex justify-content-around">
                <div> 
                  <div class="switcher">
                    <label for="toggle-0">
                      <input type="checkbox" id="toggle-0"/><span><small><small>favorite</small></small></span>
                    </label>
                  </div>
               </div>
              </div> -->


            </div>
            <div class="card-body">
                <!-- <div> -->
                    <span class="duration">{{trip.tripDuration}} DAYS from ${{trip.price}}</span>
                    <h2 class="title">{{trip.tripTitle}}</h2>
                    <p> <span style="font-weight: 500;">Trip Type: <i class="fas fa-suitcase"></i></span>
                        {{trip.tripType}} </p>
                    <p> <span style="font-weight: 500;">Activity Level: </span>{{trip.activityLevel}}</p>
                    <p> <span style="font-weight: 500;">Service Level: </span>{{trip.serviceLevel}}</p>
                <!-- </div> -->
                    <button *ngIf="loginStatus" class="btn btn-success btn-sm" style="position: absolute;top:265px"
                        (click)="toggleFavorite(trip.tripId)" >add/remove favorites</button>                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <!-- <div *ngIf="loginStatus" > -->
                        <button *ngIf="loginStatus" class="btn btn-success btn-sm"
                            style="position: absolute;top:265px;left:266px"  (click)="bookTrip(trip.tripId)">
                            explore
                        </button>
                    <!-- </div> -->
                <!-- </div> -->
                <!-- style="position: absolute;top:292px"
            style="position: absolute;top:292px;left:266px" -->
                <!-- <button (click)="toggleFavorite(trip,userId)">
                {{ isFavorite(trip) ? 'Remove from Favorites' : 'Add to Favorites' }} fav
              </button> -->
                <!-- *ngIf="loginStatus"  -->
                <!-- routerLink="/home/booking" -->
                <!-- <button class="btn btn-success login-button"  -->
                <!-- (click)="editTrip(trip)">update trip</button> -->
                <!-- *ngIf="adminLoginStatus"  -->
            </div>
        </div>

        <button class="show-more" (click)="showMore()" *ngIf="displayLimit < currentTrips.length">Show More</button>

        <!-- <div class="show-more" *ngIf="displayLimit < currentTrips.length">
            <button class="btn btn" (click)="showMore()">Show More</button >
         </div> -->
    </div>


    <ng-template #noTrips>
        <p>No trips available.</p>
    </ng-template>




    <!-- TRIP HIGHLIGHTS  -->
    <!-- <div class="trip-card-container" *ngIf="currentTrips.length > 0; else noTrips">
        <div class="trip-card" *ngFor="let trip of currentTrips">
          <div class="image-container">
            <img
              [src]="trip.heroImage
              [alt]="trip.heroImage">
            <span class="badge">{{trip.badge}}</span>
          </div>
          <div class="card-body">
            <span class="duration">{{trip.tripDuration}} DAYS from ${{trip.price}}</span>
            <h2 class="title">{{trip.tripTitle}}</h2>
            <p> <span style="font-weight: 500;">Trip Type: <i class="fas fa-suitcase"></i></span> {{trip.tripType}} </p>
            <p> <span style="font-weight: 500;">Activity Level: </span>{{trip.activityLevel}}</p>
            <p> <span style="font-weight: 500;">Service Level: </span>{{trip.serviceLevel}}</p>
            <button *ngIf="loginStatus" class="btn btn-success login-button"
              (click)="tripDescription(trip.tripId)">explore</button>
            <button class="btn btn-success login-button" 
              (click)="editTrip(trip)">update trip</button>

          </div>
        </div>
      </div> -->
    <!-- <section class="trip-highlights " style="background-color: black">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="trip-high-head" style="color:white">Trip Highlights</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="padding: 0px;">
                        <img class="card-img-top" src="../../assets/Hero-images/hero1.jpg" alt="Trip Highlight Image">
                        <div class="card-body">
                            <h5 class="card-title">Trip Name</h5>
                            <p class="card-text">Brief description of the trip.</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="card" style="padding: 0px;">
                        <img class="card-img-top" src="../../assets/about-us/safari.jpg" alt="Trip Highlight Image">
                        <div class="card-body">
                            <h5 class="card-title">Trip Name</h5>
                            <p class="card-text">Brief description of the trip.</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="padding: 0px;">
                        <img class="card-img-top" src="../../assets/about-us/arctic.jpg" alt="Trip Highlight Image">
                        <div class="card-body">
                            <h5 class="card-title">Trip Name</h5>
                            <p class="card-text">Brief description of the trip.</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->



    <!-- <Testimonals> -->

    <div class="container mt-5" style="margin-left: 0px;margin-right: 0px;background-color: black;">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-2">
                    <div class="card-body">
                        <h5 class="card-title">Amazing Experience!</h5>
                        <p class="card-text">I went on a wildlife expedition with this company and it was truly an
                            amazing
                            experience! The staff was knowledgeable and friendly, and we saw so many incredible animals.
                            I
                            would highly recommend this company to anyone looking for an unforgettable adventure.</p>
                        <p class="card-text"><small class="text-muted">- John D.</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-2">
                    <div class="card-body">
                        <h5 class="card-title">Unforgettable Trip!</h5>
                        <p class="card-text">My family and I went on a wildlife expedition with this company and it was
                            truly unforgettable. The accommodations were great, the food was delicious, and we saw so
                            many
                            amazing animals. We all had a great time and would definitely go again.</p>
                        <p class="card-text"><small class="text-muted">- Sarah K.</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-2">
                    <div class="card-body">
                        <h5 class="card-title">Best Adventure Yet!</h5>
                        <p class="card-text">I've been on a lot of wildlife expeditions, but this one was by far the
                            best.
                            The guides were excellent and knew exactly where to take us to see all the animals we wanted
                            to
                            see. I would highly recommend this
                            company to anyone looking for a great adventure.</p>
                        <p class="card-text"><small class="text-muted">- Mark P.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--<section class="trip-planner-section py-5" style="background-color: black;color:white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center" style="color: white;">
                    <h2 class="section-heading mb-4" style="color: white;">Plan Your Trip</h2>
                    <p class="section-subheading mb-5">Choose your dates, itinerary, and pricing options to start your
                        adventure.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form>
                        <div class="form-row" style="color: white;">
                            <div class="form-group col-md-6">
                                <label for="tripDate">Select a date:</label>
                                <input type="date" class="form-control" id="tripDate" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="tripDuration">Select trip duration:</label>
                                <select class="form-control" id="tripDuration" required>
                                    <option value="">--Select--</option>
                                    <option value="3">3 days</option>
                                    <option value="5">5 days</option>
                                    <option value="7">7 days</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="tripItinerary">Select an itinerary:</label>
                                <select class="form-control" id="tripItinerary" required>
                                    <option value="">--Select--</option>
                                    <option value="safari">Safari Adventure</option>
                                    <option value="wilderness">Wilderness Hiking</option>
                                    <option value="river">River Rafting</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="tripPrice">Select a pricing option:</label>
                                <select class="form-control" id="tripPrice" required>
                                    <option value="">--Select--</option>
                                    <option value="basic">Basic Package ($)</option>
                                    <option value="standard">Standard Package ($$)</option>
                                    <option value="premium">Premium Package ($$$)</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Book Your Trip</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->

    <!-- BLOG SECTION -->
    <section class="blog-section">
        <div class="container">
            <h2 class="section-title" >Blog</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card card-3" style="padding: 0px;border-radius: 5px;">
                        <img src="../../assets/Hero-images/hero2.jpeg" class="card-img-top" alt="Blog Image 1">
                        <div class="card-body card-body-3">
                            <div>
                                <h5 class="card-title" style="color:black">African Safari Adventure</h5>
                                <p class="card-text" style="color:black">Lotrem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Sed at
                                    lectus eget nisl commodo fermentum a a dolor. Nullam quis ultrices velit, vitae
                                    molestie dolor.
                                </p>
                            </div>
                            <div>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card card-3" style="padding: 0px;border-radius: 5px;">

                        <img src="../../assets/Hero-images/hero3.jpg" class="card-img-top" alt="Blog Image 2">
                        <div class="card-body card-body-3">
                            <div>
                                <h5 class="card-title" style="color:black">Spotting Rare Birds in Costa Rica</h5>
                                <p class="card-text" style="color:black">Nullam blandit augue quis sapien luctus, id
                                    malesuada nunc
                                    bibendum.
                                    Suspendisse in erat vestibulum, placerat massa et, venenatis sem. Fusce at erat
                                    ligula.
                                </p>
                            </div>
                            <div><a href="#" class="btn btn-primary">Read More</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card card-3" style="padding: 0px;border-radius: 5px;">

                        <img src="../../assets/Hero-images/hero1.jpg" class="card-img-top" alt="Blog Image 2">
                        <div class="card-body card-body-3">
                            <div>
                                <h5 class="card-title" style="color:black">Trekking in the Himalayas</h5>
                                <p class="card-text" style="color:black">Duis eu ultrices nibh, vel vestibulum lorem.
                                    Praesent sollicitudin
                                    efficitur magna, in euismod magna malesuada eu. Nulla semper mauris nec justo
                                    ultrices,
                                    eu
                                    efficitur purus mollis.</p>

                            </div>
                            <div><a href="#" class="btn btn-primary">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- about us -->
    <!-- <section id="about-us" style="background-color: black; color:white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>About Us</h2>
                    <p>At Wildlife Expeditions, we believe that nature is meant to be explored. We are passionate about
                        providing our customers with unforgettable wildlife experiences that connect them with the
                        natural
                        world. Our mission is to create opportunities for people to learn, grow, and appreciate the
                        beauty
                        and complexity of the wilderness.</p>
                    <p>We are committed to sustainable tourism practices that preserve the environment and benefit local
                        communities. We work with local guides and organizations to ensure that our expeditions have a
                        positive impact on the people and places we visit.</p>
                </div>
            </div>
        </div>
    </section> -->

    <!-- contact us -->

    <!-- <section id="contact-us" class="contact-us" style="background-color: black;color:white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Contact Us</h2>
                    <p>Have questions or want to book a trip? Fill out the form below and we'll get back to you as soon
                        as
                        possible.</p>
                    <form action="submit-form.php" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="tel" id="phone" name="phone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h3>Get in Touch</h3>
                    <p>Don't like forms? Give us a call or send us an email:</p>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-phone-alt"></i> 555-123-4567</li>
                        <li><i class="fas fa-envelope"></i> info@wildlifeexpeditions.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->

    <div class="footer-bg">
        <div class="footer-sub-content">
            <div>
                <h1 class="footer-head">PLAN A TRIP</h1>
                <p>Find a Trip</p>
                <p>Why travel with us</p>
                <p>Meet our experts</p>
                <p>Special offers</p>
                <p>Stories From our Travellers</p>
            </div>
            <div>
                <h1 class="footer-head">SUPPORT</h1>
                <p>Contact Us</p>
                <!-- <p>Frequently Asked quesions </p>
        <p>Health and Safety Protocols</p>
        <p>Privite Jet Health and Safety Protocols</p> -->
                <p>Service animals</p>
                <p>Travel insurance</p>
                <p>Travel Agents</p>
                <p>Updated Booking Policies</p>
            </div>
            <div>
                <h1 class="footer-head">COMPANY</h1>
                <p>Terms & Conditions</p>
                <p>Terms of Use</p>
                <p>Privacy Policy</p>
                <p>Your India state privacy Rights</p>
                <p>Do not Sell or Share my personal information</p>
            </div>
            <div>
                <h1 class="footer-head">FOLLOW US</h1>
                <div><i class="fa-brands fa-instagram insta-icon"></i></div>
                <div></div>
            </div>
        </div>
        <hr class="hr-footer" />
        <div class="last-footer-cont">
            <p><img src="../../assets/LOGOS/final5.png" style="height: 50px;width: 120px;"></p>
            <p>Copyright © 1996-2015 National Geographic Society</p>
            <p>|</p>
            <p>Copyright © 2015-2023 National Geographic Partners, LLC. All rights reserved</p>
        </div>

    </div>

        <script>
        const heroSection = document.querySelector('.hero');
        heroSection.classList.add('animate-background');
        </script>

</body>