body{
  background-color: black;
}
:host {
  color: black; /* Replace with your desired color */
}

th-card{
  padding: 0px;
}
/* .hero {
  position: relative;
  height: 500px;
  background-image: url('../../assets/about-us/hero.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 100px;
} */

.hero {
  position: relative;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

@keyframes changeBackground {
  15% {
    background-image: url('../../assets/animateHeroHome/Hero-croatia.adapt.1900.1.jpg');
  }
  33% {
    background-image: url('../../assets/animateHeroHome/hero-from-southern-california-to-baja.adapt.1900.1.jpg');
  }
  66% {
    background-image: url('../../assets/animateHeroHome/hero-sequoia2.adapt.1900.1.jpg');
  }
  100% {
    background-image: url('../../assets/animateHeroHome/Hero-south-africa.adapt.1900.1.jpg');
  }
}

.hero.animate-background {
  animation: changeBackground 10s infinite;
}


.hero-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.hero-title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-description {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;

}
.jumbotron {
  background-image: url('https://cloud.mysteryscience.com/image/fetch/c_fill,f_auto,q_auto/https://www.dropbox.com/s/4oqeuvi4sap2v45/AnimalAdventuresM1-new-Thumbnails-1920x1080.png%3Fdl%3D1');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding: 30px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  background-position: bottom;
 
}


.explore-head {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.explore-para {
  color: white;
  font-weight:400
}

.button-book {
  color: white;
}

.trip-high-head {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}



/* testimonals */

.card {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  
}

.card-2{
  height: 300px;
}

.card-3{
  height: 500px;
}

.card-body-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-text {
  font-size: 1rem;
}

.text-muted {
  font-size: 0.8rem;
}

/* TRIP HIGHLIGHTS */

/* Set background color */
.trip-highlights {
  background-color: #f8f8f8;
}

/* Center text */
.trip-highlights h2 {
  text-align: center;
}


/* tripnavbar */

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
}


.navbar-toggler {
  border-color: transparent;
  padding: 0.25rem 0.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none;
  background-color: #f5f5f5;
  border-color: transparent;
}


.navbar-nav .nav-link {
  color: #555;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  color: #333;
  background-color: #f5f5f5;
}


.navbar .dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 0.25rem;
}

.navbar .dropdown-item {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.navbar .dropdown-item:hover {
  color: #333;
  background-color: #f5f5f5;
}


.hover-dropdown:hover .dropdown-menu {
  display: block;
}

.hover-dropdown:hover .nav-link {
  background-color: #f5f5f5;
  color: #333;
}

.hover-dropdown .dropdown-menu {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s, visibility 0.2s, margin-top 0.2s;
  transition: opacity 0.2s, visibility 0.2s, margin-top 0.2s;
}

.hover-dropdown .dropdown-menu a {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1.5rem;
}

.hover-dropdown .dropdown-menu a:hover {
  color: #333;
  background-color: #f5f5f5;
}

.hover-dropdown:hover .dropdown-menu {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

.hover-dropdown:hover .nav-link {
  background-color: #f5f5f5;
  color: #333;
}


.header {
  background-image: url('../../assets/Insta-images/1st-img.jpg');
  background-size: cover;
  background-position: center;
  animation: lion 20s linear infinite;
}

@keyframes lion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.admin-navbar {
  background-image: url('https://cdn.pixabay.com/photo/2016/06/10/02/32/lion-1449426_960_720.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.admin-navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.navbar {
  z-index: 2;
}



.trip-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
  }
  
  .trip-card {
    width: 350px;
    height: 500px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f5f5f5; /* Lighter background color */
    animation: fadeInUp 0.5s ease-out;
  }

  .show-more{
    -webkit-text-size-adjust: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-top:30px;
    box-sizing: inherit;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.5;
    cursor: pointer;
    height: 45px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    transition: width .3s, color .3s;
    vertical-align: middle;
    width: 100%;
    background: transparent;
    border: 2px solid #000;
    color: #000;
    
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container img {
    /* width: 100%; */
    width: 350px;
    height: 190px;
  }
  
  .badge {
    -webkit-text-size-adjust: 100%;
    list-style: none;
    box-sizing: inherit;
    font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    background: #fc0;
    color: #000;
    font-weight: bold;
    left: -1px;
    border-radius: 0px;
    max-width: 75%;
    padding: 3px 9px;
    position: absolute;
    top: 15px;
    z-index: 0;
    /* position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5e3a;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold; */
  }

  .favIcon{
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #ff5e3a;
      color: #ffffff;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 12px;
      /* font-weight: bold; */
  }

  /*favorite toggle*/

  div.switcher + div.switcher {
    margin-top: 10px;
  }
  div.switcher label {
    padding: 0;
  }
  div.switcher label * {
    vertical-align: middle;
  }
  div.switcher label input {
    display: none;
  }
  div.switcher label input + span {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    height: 26px;
    background: var(--bs-gray);
    border: 2px solid var(--bs-gray);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  div.switcher label input + span small {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    left: 0;
  }
  div.switcher label input:checked + span {
    background: var(--bs-pink);
    border-color: var(--bs-pink);
  }
  div.switcher label input:checked + span small {
    left: 50%;
  }

  .card-body {
    padding: 2px 16px 16px 16px;
    position: relative;
    
    color: #333333; /* Updated text color */
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  }
  
  .duration {
        background-color: #f5f5f5;
        color: black;
        padding: 8px 20px;
        font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 1.5;
        text-transform: uppercase;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        white-space: nowrap;
        width: 70%; 
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto 8px;
      
    /* background-color: #f5f5f5;
  color: black;
  padding: 8px 20px;
  font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 1.5;
  text-transform: uppercase;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  white-space: nowrap;
  width: 70%; 
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto 8px; */
        /*
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f5f5f5;
        color: black;
        padding: 8px 20px;
        font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 1.5;
        text-transform: uppercase;
        border: 1px solid gray;
        border-top: none;
        border-bottom: none;
        white-space: nowrap;
        width: 70%; 
        box-sizing: border-box;
        */
   /* position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #ffffff;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 10px; 
        font-weight: bold; */
      }
      
    /* position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold; */
  
  
  
  .title {
    font-weight: bold;
    font-size: 22px; /*Updated font size*/
    margin-bottom: 8px;
    text-align: center;
  }
  
  /* Animation */
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .element {
    animation: slideToLeft 0.5s ease-out;
  }
  
  


/* TRIP PLANNER */

/* .trip-planner-section {
  background-color: #f9f9f9;
  padding: 80px 0;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.section-subheading {
  font-size: 18px;
  font-weight: 400;
  color: #666;
  margin-bottom: 50px;
}

.form-control {
  height: 50px;
  border-radius: 0;
  border-color: #ccc;
}

label {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><polygon points="0,0 12,0 6,6"></polygon></svg>') no-repeat right #fff;
  background-position-x: calc(100% - 20px);
  background-position-y: 10px;
  padding-right: 30px;
  height: 50px;
  border-radius: 0;
  border-color: #ccc;
}

button {
  border-radius: 0;
  font-size: 20px;
  font-weight: 700;
  background-color: #0275d8;
  border-color: #0275d8;
}

button:hover {
  background-color: #025aa5;
  border-color: #025aa5;
} */

/* blog section */

.blog-section {
  background-color: #f9f9f9;
  padding: 80px 0;
}

.blog-section .section-title {
  text-align: center;
  margin-bottom: 50px;
  color: #4e4e4e;
}

.blog-section .card {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.blog-section .card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.blog-section .card-img-top {
  height: 200px;
  object-fit: cover;
}

.blog-section .card-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.blog-section .card-text {
  margin-bottom: 20px;
}

.blog-section .btn-primary {
  background-color: #3e3e3e;
  border-color: #3e3e3e;
  font-weight: bold;
  transition: all 0.3s ease;
}

.blog-section .btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
}

.blog-section {
  background-color: #f9f9f9;
  padding: 8px 0px;
  ;
}

.blog-section .section-title {
  text-align: center;
  margin-bottom: 50px;
  color: #4e4e4e;
}

.blog-section .card {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.blog-section .card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.blog-section .card-img-top {
  height: 200px;
  object-fit: cover;
}

.blog-section .card-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.blog-section .card-text {
  margin-bottom: 20px;
}

.blog-section .btn-primary {
  background-color: #3e3e3e;
  border-color: #3e3e3e;
  font-weight: bold;
  transition: all 0.3s ease;
}

.blog-section .btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
}

/* about us */

#about-us {
  background-color: #f7f7f7;
  padding: 80px 0;
  text-align: center;
}

#about-us h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #2b2b2b;
}

#about-us p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #555;
  text-align: justify;
}

#about-us img {
  max-width: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
  #about-us .container {
    display: flex;
    align-items: center;
  }

  #about-us p {
    margin-bottom: 40px;
  }

  #about-us img {
    margin-left: 60px;
    margin-right: 60px;
  }
}

#about-us:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/Hero-images/hero3.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

/* contact us */

#contact-us {
  background-color: #f7f7f7;
  padding: 50px 0;
}

#contact-us h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

#contact-us form {
  margin-top: 20px;
}

#contact-us form label {
  font-weight: 600;
}

#contact-us form input[type="text"],
#contact-us form input[type="email"],
#contact-us form input[type="tel"],
#contact-us form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

#contact-us form input[type="submit"] {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#contact-us form input[type="submit"]:hover {
  background-color: #0069d9;
}

#contact-us ul li {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  list-style-type: none;
}

#contact-us ul li i {
  margin-right: 10px;
  color: #007bff;
  font-size: 24px;
}

.footer-bg {
  background-color: black;
  height: 400px;
  padding: 30px;
 
  
}

.footer-sub-content{
 
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-head{
  font-size: 20px;
  padding-top: 40px;
}

.insta-icon{
  font-size: 30px;
}

.hr-footer{
  border-color: white;
  border-width: 2px;
}

.last-footer-cont{
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: white;
  align-items: center;
  justify-content: center;
} 