 <head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>

<div class="bg-image">

  <div class="height-cont">
    <h1 align="center" style="color: whitesmoke; background-color: black;"> User Registration </h1>
    <br />
    <form #regFrom="ngForm" (ngSubmit)="userRegistration(regFrom.value)">

      <div class="input-group input-login">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control input-login" type="text" name="userName" [(ngModel)]="userName"
          placeholder="User Name*" required minlength="5" maxlength="30" pattern="[A-Za-z][A-Za-z0-9]*"
          (input)="updateUsernameValidation()" (focus)="clearUsernameValidation()" /> <br />
      </div>
      <div class="username-validation" *ngIf="usernameTouched">
        <div class="condition" *ngIf="!isUsernameValid('capital')">
          Username must start with a capital letter.
        </div>
        <div class="condition" *ngIf="!isUsernameValid('length')">
          Username must have a minimum of 5 characters.
        </div>
        <div class="condition" *ngIf="!isUsernameValid('maxlength')">
          Username cannot exceed 30 characters.
        </div>
        <div class="condition" *ngIf="!isUsernameValid('special')">
          Username cannot contain special characters.
        </div>
      </div>



      <br />

      <div class="input-group input-login">
        <span class="input-group-addon"> <i class="fa-solid fa-venus-mars"></i> </span>
        <select name="gender" class="form-control" ngModel>
          <option value=""> Select Gender </option>
          <option value="Male"> Male </option>
          <option value="Female"> Female </option>
          <option value="Other"> Other </option>
        </select> <br />
      </div>


      <br />

      <div class="input-group input-login">
        <span class="input-group-addon"> <i class="fa-solid fa-flag"></i> </span>
        <select name="country" class="form-control" ngModel>
          <option value=""> Select Country </option>

          <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}}
          </option>
        </select> 
      </div>
      <br />

      <div class="input-group input-login">
        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
        <input class="form-control input-login" type="tel" name="mobileNumber" [(ngModel)]="mobileNumber"
          (input)="validateMobileNumber()" placeholder="Enter Mobile Number" pattern="[0-9]{10}" minlength="10"
          maxlength="10" required (focus)="clearMobileNumberValidation()" />
      </div>
      <div class="condition" *ngIf="mobileNumberTouched">
        <div class="text-danger" *ngIf="!isMobileNumberValid">
          Mobile number should be 10 digits long.
        </div>
        <div class="text-danger" *ngIf="!isMobileNumberValidCharacter">
          Enter only decimal digits.
        </div>
      </div>



      <br />

      <!-- Second -->
      <div class="input-group input-login">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control input-login" name="emailId" [(ngModel)]="emailId" placeholder="Enter EmailId"
          required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" (input)="updateEmailValidation()"
          (focus)="clearEmailValidation()" /> <br />
      </div>
      <div class="email-validation" *ngIf="emailTouched">
        <div class="condition" *ngIf="!isEmailValid('format')">
          Invalid email format.
        </div>

        <div class="condition" *ngIf="checkEmailIdExists(emailId)">
          EmailId already Exists.
        </div>
      </div>



      <br />

      <div class="input-group input-login">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class="form-control input-login" name="password" [(ngModel)]="password" placeholder="Enter Password"
          required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" (input)="updatePasswordValidation()"
          (focus)="clearPasswordValidation()" type="password" /> <br />
      </div>
      <div class="password-validation" *ngIf="passwordTouched">
        <div class="condition" *ngIf="!isPasswordValid('length')">
          Must have at least 8 characters
        </div>
        <div class="condition" *ngIf="!isPasswordValid('uppercase')">
          Must have at least 1 uppercase letter
        </div>
        <div class="condition" *ngIf="!isPasswordValid('lowercase')">
          Must have at least 1 lowercase letter
        </div>
        <div class="condition" *ngIf="!isPasswordValid('digit')">
          Must have at least 1 digit
        </div>
        <div class="condition" *ngIf="!isPasswordValid('special')">
          Must have at least 1 special character
        </div>
      </div>
      <br />






      <!-- PERFECT PERFECTLY working -->
      <div class="input-group input-login" *ngIf="password && allPasswordConditionsSatisfied()">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control input-login" type="text" name="confirmPassword" [(ngModel)]="confirmPassword"
          placeholder="Confirm Password*" (input)="checkPasswordMatch()" (focus)="clearConfirmPasswordValidation()" type="password" />
      </div>
      <div class="password-validation" *ngIf="confirmPasswordTouched">
        <div class="condition text-danger" *ngIf="!passwordMatch">
          Passwords do not match
        </div>
      </div>






      <br />
      <button class="btn btn-success login-button" [disabled]="!allConditionsSatisfied()">Register</button>

      <!-- <button class="btn btn-success login-button">Register</button> -->



    </form>
  </div>
</div>