.bg-image {
  background-image: url('../../assets/Login-images/login-1.avif');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 700px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.height-cont{
  height:700px;
  width: 600px;
  /* border-width: 2px; */
  /* border-color: wheat; */
  /* border-style: solid; */
  /* backdrop-filter: blur(2.5px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
/* .password-validation {
  margin-top: 5px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
} */

/* .password-validation {
  margin-top: 5px;
}

.condition {
  color: red;
  margin-bottom: 5px;
}

.valid {
  color: green;
} */

.password-mismatch {
  border-color: red;
}

.password-validation {
  margin-top: 5px;
}

.condition {
  color: red;
  margin-bottom: 5px;
}

.valid {
  color: green;
}

.mobile-number-validation {
  color: red;
  margin-top: 5px;
}



.condition{
background-color: beige;
border-radius: 5px;
}
p{
  color: red;
}